<template>
  <CCard>
    <CRow class="p-3">
      <CCol>
        <h3 class="text-black">Detail Laporan</h3>
      </CCol>
    </CRow>
  </CCard>
</template>

<script>
import * as icon from '@coreui/icons'
import { fetchLeaseDetailReport } from '../../../service/service'
export default {
  data() {
    return {
      icon,
      startDate: '',
      endDate: '',
      search: '',

      items: [],
    }
  },
  mounted() {
    fetchLeaseDetailReport().then((response) => {
      const { data } = response.data
      this.items = data
    })
  },
  methods: {
    handleDetail() {},
  },
}
</script>

<style>
.wrapper-laporan-pinjam-pakai:hover {
  cursor: pointer;
  background: #bfb8ff;
}
.wrapper-laporan-service:hover {
  cursor: pointer;
  background: #ffc2c2;
}
.wrapper-laporan-bahan-bakar:hover {
  cursor: pointer;
  background: #fbe5a3;
}
.wrapper-laporan-pajak:hover {
  cursor: pointer;
  background: #c0ffd5;
}
.wrapper-laporan-kondisi-kendaraan:hover {
  cursor: pointer;
  background: rgb(188, 221, 255);
}
</style>
