<template>
  <CCard>
    <CRow class="p-3 mb-5 mt-2">
      <CCol cols="12" md="4">
        <CWidgetStatsF
          value="Laporan Pinjam Pakai PPKO"
          color="primary"
          class="wrapper-laporan-pinjam-pakai"
          :class="isActivePPOK ? 'active' : 'nonactive'"
          style="box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08); border: none"
          @click="requestLeaseReport"
        >
          <template #icon>
            <CIcon :icon="icon.cilAvTimer" size="xl" />
          </template>
        </CWidgetStatsF>
      </CCol>
      <CCol cols="12" md="4">
        <CWidgetStatsF
          value="Laporan Pinjam Pakai KOJ"
          color="danger"
          class="wrapper-laporan-service"
          :class="isActiveKOJ ? 'active' : 'nonactive'"
          style="box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08); border: none"
          @click="requestKOJReport"
        >
          <template #icon>
            <CIcon :icon="icon.cilAvTimer" size="xl" />
          </template>
        </CWidgetStatsF>
      </CCol>
    </CRow>

    <CRow class="mb-2" style="">
      <div style="margin-left: 20px">
        <span class="text-black">Klik baris untuk lihat detail</span>
      </div>
    </CRow>
    <div style="overflow-x: auto; margin-right: 20px; margin-left: 20px">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <CModal
      :visible="modalDetail"
      alignment="center"
      size="xl"
      @close="
        () => {
          modalDetail = false
        }
      "
    >
      <CModalBody>
        <CRow class="mb-2">
          <CCol md="12" class="d-flex justify-content-between">
            <h5 class="text-black m-3">Profil Kendaraan</h5>
            <CButton color="info" style="color: white" @click="print"
              >Print</CButton
            >
          </CCol>
          <div id="printWrapper" class="p-3">
            <CCol cols="12" class="mb-3">
              <CRow>
                <CCol cols="6" class="align-self-center">
                  <img :src="foto[0].urlfoto" style="width: 95%" class="" />
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Jenis : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ jenis }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Merk : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ merk }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Type : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ type }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-5 col-form-label"
                      ><strong>Bahan Bakar : </strong></CFormLabel
                    >
                    <CCol cols="7">{{ bahanBakar }} </CCol>
                  </CRow>
                </CCol>
                <CCol cols="6" class="mb-4">
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>No. BPKB : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ nobpkb }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>No. Mesin : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ nomesin }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>No. Rangka : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ norangka }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>No. Polisi : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ nopolisi }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Warna : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ warna }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Tahun : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ thnkdrn }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Kondisi : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ kondisi }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-4 col-form-label"
                      ><strong>Pajak Kendaraan : </strong></CFormLabel
                    >
                    <CCol cols="8">{{ tglpajak }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-5 col-form-label"
                      ><strong>Jatuh Tempo : </strong></CFormLabel
                    >
                    <CCol cols="7">{{ jatuhtempo }} </CCol>
                  </CRow>
                </CCol>
              </CRow>
            </CCol>
            <CCol cols="12">
              <h5 class="text-black mt-3">Detail Pinjaman</h5>
              <CRow>
                <CCol xs="3">
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label"
                      ><strong>Tanggal Pinjam : </strong></CFormLabel
                    >
                    <CCol sm="6">{{ tanggalPinjam }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label"
                      ><strong>Tanggal Pengembalian : </strong></CFormLabel
                    >
                    <CCol sm="6">{{ tanggalPengembalian }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label"
                      ><strong>Jenis Kendaraan : </strong></CFormLabel
                    >
                    <CCol sm="6">{{ jenis }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Nama : </strong></CFormLabel
                    >
                    <CCol sm="6">{{ penanggungjawab }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> NIP : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ nip }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Jabatan : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ jabatan }} </CCol>
                  </CRow>
                </CCol>
                <CCol xs="3">
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Unit Kerja : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ unitKerja }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Unit Esselon 1 : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ esselon1 }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Unit Esselon 2 : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ esselon2 }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Unit Esselon 3 : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ esselon3 }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Unit Esselon 4 : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ esselon4 }} </CCol>
                  </CRow>
                  <CRow class="align-items-center">
                    <CFormLabel class="col-sm-6 col-form-label">
                      <strong> Disetujui : </strong>
                    </CFormLabel>
                    <CCol sm="6">{{ penyetuju }} </CCol>
                  </CRow>
                </CCol>
                <CCol xs="6">
                  <CRow class="justify-content-center">
                    <qrcode-vue
                      render-as="svg"
                      :value="value"
                      :size="size"
                      level="H"
                    />
                  </CRow>
                </CCol>
                <CCol xs="12">
                  <CRow class="justify-content-between me-3">
                    <CCol
                      cols="6"
                      class="mt-5 d-flex flex-column align-items-center"
                    >
                      <h6 class="mb-5">Kuasa Pengguna Barang</h6>
                      <p class="mt-5">{{ penanggungjawab }} - {{ nip }}</p>
                    </CCol>
                    <CCol
                      cols="6"
                      class="mt-5 d-flex flex-column align-items-center"
                    >
                      <h6 class="mb-5">Pemakai</h6>
                      <p class="mt-5">{{ pemakai }} - {{ nippemakai }}</p>
                    </CCol>
                  </CRow>
                </CCol>
              </CRow>
            </CCol>
          </div>
        </CRow>
      </CModalBody>
    </CModal>
  </CCard>
</template>

<script>
import * as icon from '@coreui/icons'
import QrcodeVue from 'qrcode.vue'
import {
  fetchLeaseReport,
  fetchLeaseDetailReport,
  fetchKOJReport,
  fetchKOJDetailReport,
} from '../../../service/service'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    QrcodeVue,
    DataTable,
  },
  data() {
    return {
      icon,
      startDate: '',
      endDate: '',
      search: '',
      loading: false,

      items: [],
      itemsDB: [],
      modalDetail: false,

      // detail
      idkdrn: '',
      bahanBakar: '',
      foto: null,
      jabatan: '',
      jatuhtempo: '',
      jenis: '',
      kondisi: '',
      merk: '',
      nama: '',
      nip: '',
      nobpkb: '',
      nomesin: '',
      nopolisi: '',
      norangka: '',
      tglpajak: '',
      thnkdrn: '',
      type: '',
      unitKerja: '',
      warna: '',
      esselon1: '',
      esselon2: '',
      esselon3: '',
      esselon4: '',
      penyetuju: '',
      penanggungjawab: '',
      pemakai: '',
      nippemakai: '',

      // qrcode
      value: null,
      size: 250,

      modeFilterReport: false,
      isActivePPOK: true,
      isActiveKOJ: false,
      detailIsOpened: false,
      tanggalPinjam: '',
      tanggalPengembalian: '',

      column: [
        {
          data: 'tglpinjam',
          title: 'Tanggal Pinjam',
        },
        {
          data: 'jenis',
          title: 'Jenis',
        },
        {
          data: 'merk',
          title: 'Merk',
        },
        {
          data: 'type',
          title: 'Type',
        },
        {
          data: 'nopolisi',
          title: 'Nomor Polisi',
        },
        {
          data: 'pemakai',
          title: 'Pemakai',
        },
        {
          data: 'penanggungjawab',
          title: 'Pengguna Kuasa Barang',
        },
        {
          data: 'unit_kerja',
          title: 'Unit Kerja',
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.requestLeaseReport()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.handleDetail(this.selectedRow[0])
      this.$forceUpdate()
    },
    requestLeaseReport() {
      this.isActivePPOK = true
      this.isActiveKOJ = false
      this.modeFilterReport = true
      this.loading = true
      fetchLeaseReport().then((response) => {
        const { data } = response.data
        this.itemsDB = data.map((item) => ({
          ...item,
          loading: false,
        }))
        this.items = data.map((item) => ({
          ...item,
          loading: false,
        }))
        this.testData = this.items
        this.loading = false
      })
    },
    requestKOJReport() {
      this.isActivePPOK = false
      this.isActiveKOJ = true
      this.modeFilterReport = true
      this.loading = true
      fetchKOJReport().then((response) => {
        const { data } = response.data
        this.itemsDB = data.map((item) => ({
          ...item,
          loading: false,
        }))
        this.items = data.map((item) => ({
          ...item,
          loading: false,
        }))
        this.testData = this.items
        this.loading = false
      })
    },
    Search(search, array) {
      if (search !== '') {
        const regex = new RegExp(search, 'i')
        // eslint-disable-next-line prettier/prettier
        this.items = array.filter((item) => regex.test(item.penanggungjawab))
      } else {
        this.items = this.itemsDB
      }
    },
    async handleDetail(data) {
      switch (data.jenispinjam) {
        case 'PPKO':
          data.loading = true
          await fetchLeaseDetailReport(data.idpinjam).then((response) => {
            const { data } = response.data
            this.idkdrn = data.idkdrn
            this.bahanBakar = data.bahanbakar
            this.foto = data.foto
            this.jabatan = data.jabatan
            this.jatuhtempo = data.jatuhtempo
            this.jenis = data.jenis
            this.kondisi = data.kondisi
            this.merk = data.merk
            this.nama = data.nama
            this.nip = data.nippenanggungjawab
            this.nobpkb = data.nobpkb
            this.nomesin = data.nomesin
            this.nopolisi = data.nopolisi
            this.norangka = data.norangka
            this.tglpajak = data.tglpajak
            this.thnkdrn = data.thnkdrn
            this.type = data.type
            this.unitKerja = data.unitkerja
            this.warna = data.warna
            this.value = `${process.env.VUE_APP_BASE_URL_PAGE}/#/data-kendaraan?qrcode=${data.idkdrn}`
            this.modalDetail = true
            this.esselon1 = data.es1.name
            this.esselon2 = data.es2.name
            this.esselon3 = data.es3.name
            this.esselon4 = data.es4.name
            this.penyetuju = data.penyetuju
            this.penanggungjawab = data.penanggung_jawab
            this.pemakai = data.pemakai
            this.nippemakai = data.nippemakai
            this.detailIsOpened = true
            const find = this.items.find((item) => item.idpinjam === data.id)
            this.tanggalPinjam = find.tglpinjam
            this.tanggalPengembalian = find.tglpengembalian
          })
          data.loading = false
          break
        case 'KOJ':
          data.loading = true
          await fetchKOJDetailReport(data.idpinjam).then((response) => {
            const { data } = response.data
            this.idkdrn = data.idkdrn
            this.bahanBakar = data.bahanbakar
            this.foto = data.foto
            this.jabatan = data.jabatan
            this.jatuhtempo = data.jatuhtempo
            this.jenis = data.jenis
            this.kondisi = data.kondisi
            this.merk = data.merk
            this.nama = data.nama
            this.nip = data.nippenanggungjawab
            this.nobpkb = data.nobpkb
            this.nomesin = data.nomesin
            this.nopolisi = data.nopolisi
            this.norangka = data.norangka
            this.tglpajak = data.tglpajak
            this.thnkdrn = data.thnkdrn
            this.type = data.type
            this.unitKerja = data.unitkerja
            this.warna = data.warna
            this.value = `${process.env.VUE_APP_BASE_URL_PAGE}/#/data-kendaraan?qrcode=${data.idkdrn}`
            this.modalDetail = true
            this.esselon1 = data.es1.name
            this.esselon2 = data.es2.name
            this.esselon3 = data.es3.name
            this.esselon4 = data.es4.name
            this.penyetuju = data.penyetuju
            this.penanggungjawab = data.penanggung_jawab
            this.pemakai = data.pemakai
            this.nippemakai = data.nippemakai
            this.detailIsOpened = true
            const find = this.items.find((item) => item.idpinjam === data.id)
            this.tanggalPinjam = find.tglpinjam
            this.tanggalPengembalian = find.tglpengembalian
          })
          data.loading = false
          break

        default:
          break
      }
    },
    async print() {
      this.$htmlToPaper('printWrapper')
    },
  },
}
</script>

<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
.wrapper-laporan-pinjam-pakai:hover {
  cursor: pointer;
  background: #bfb8ff;
}
.wrapper-laporan-service:hover {
  cursor: pointer;
  background: #ffc2c2;
}
.wrapper-laporan-bahan-bakar:hover {
  cursor: pointer;
  background: #fbe5a3;
}
.wrapper-laporan-pajak:hover {
  cursor: pointer;
  background: #c0ffd5;
}
.wrapper-laporan-kondisi-kendaraan:hover {
  cursor: pointer;
  background: rgb(188, 221, 255);
}
.active {
  background: #b1b7c1;
}
.nonactive {
  background: white;
}
</style>
