<template>
  <CCard class="p-3">
    <h3>Bahan Bakar</h3>

    <!-- fix tombol tidak muncul jika dibuka selain admin -->
    <!-- <CRow v-if="this.UserData.role === 'Admin'" class="my-3"> -->
    <CRow class="my-3">


      <CCol>
        <CButton
          color="info"
          @click="Option"
          style="color: white; margin-right: 1rem"
        >
          Tambah Bahan Bakar
          <CIcon :icon="icon.cilAperture" />
        </CButton>
      </CCol>
    </CRow>

    <div style="overflow-x: auto">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Modal Add Bahan Bakar -->
    <CModal
      :visible="modalAddBBM"
      alignment="center"
      @close="
        () => {
          modalAddBBM = false
        }
      "
    >
      <CCard>
        <CRow class="m-3">
          <h3 class="text-black">Tambah Bahan Bakar</h3>
        </CRow>
        <CRow class="m-3">
          <CCol>
            <CForm @submit.prevent="handleStoreBBM">
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >ID Pinjam</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormSelect
                    :options="listIdOption"
                    required
                    @input="handleIdOption($event)"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Kilometer Awal</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    required
                    @input="handleKmSebelum($event)"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Kilometer Akhir</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    required
                    @input="handleKmSesudah($event)"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Kilometer SPT</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    required
                    @input="handleKmSPT($event)"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Sisa Kilometer</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    disabled
                    v-model="sisaKM"
                  />
                  <span v-if="messageError === true" class="text-danger"
                    >tidak boleh minus!</span
                  >
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Jumlah Liter</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    required
                    @input="handleJumlahLiter($event)"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Harga/liter</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    required
                    @input="handleHargaLiter($event)"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <CFormLabel class="col-sm-5 col-form-label" for="inputAddress"
                  >Subtotal</CFormLabel
                >
                <div class="col-sm-7">
                  <CFormInput
                    id="inputAddress"
                    type="number"
                    disabled
                    v-model="subtotal"
                  />
                </div>
              </CRow>
              <CRow class="mb-3">
                <div>
                  <CButton
                    type="submit"
                    :color="disableSubmit ? 'dark' : 'success'"
                    style="color: white"
                  >
                    <CSpinner v-if="loading" color="white" size="sm" />
                    Submit
                    <CIcon :icon="icon.cilCursor" />
                  </CButton>
                </div>
              </CRow>
            </CForm>
          </CCol>
        </CRow>
      </CCard>
    </CModal>

    <!-- Modal Img -->
    <CModal
      :visible="modalImg"
      alignment="center"
      @close="
        () => {
          modalImg = false
        }
      "
    >
      <img :src="imgShow" alt=""
    /></CModal>

    <!-- Modal Edit -->
    <CModal
      :visible="modalEditBBM"
      alignment="center"
      @close="
        () => {
          modalEditBBM = false
        }
      "
    >
      <CCard>
        <CRow class="m-3">
          <h3 class="text-black">Edit Bahan Bakar</h3>
        </CRow>
        <CRow class="m-3">
          <CCol md="12" class="align-center">
            <img :src="editBBM.foto_kdrn" style="width: 100%" />
          </CCol>
          <CCol>
            <CForm>
              <CFormLabel for="inputAddress">Kendaraan</CFormLabel>
              <CFormInput id="inputAddress" v-model="editBBM.label" disabled />
              <CFormLabel for="inputAddress">Nomor Polisi</CFormLabel>
              <CFormInput
                id="inputAddress"
                v-model="editBBM.nopolisi"
                disabled
              />
              <CFormLabel for="inputAddress">KM Awal</CFormLabel>
              <CFormInput id="inputAddress" v-model="editBBM.km_sebelum" />
              <CFormLabel for="inputAddress">KM Akhir</CFormLabel>
              <CFormInput id="inputAddress" v-model="editBBM.km_sesudah" />
              <CFormLabel for="inputAddress">KM Spt</CFormLabel>
              <CFormInput
                id="inputAddress"
                @keyup="handleEditBBM('sisaKM')"
                v-model="editBBM.km_spt"
              />
              <CFormLabel for="Address">Sisa KM</CFormLabel>
              <CFormInput
                id="inputAddress"
                v-model="editBBM.sisa_km"
                disabled
              />
              <CFormLabel for="inputAddress">Liter</CFormLabel>
              <CFormInput id="inputAddress" v-model="editBBM.jml_liter" />
              <CFormLabel for="inputAddress">Harga</CFormLabel>
              <CFormInput
                @keyup="handleEditBBM('total')"
                id="inputAddress"
                v-model="editBBM.harga"
              />
              <CFormLabel for="inputAddress">Total</CFormLabel>
              <CFormInput id="inputAddress" v-model="editBBM.total" disabled />
            </CForm>
          </CCol>
        </CRow>
        <CRow class="justify-content-center mb-3">
          <CCol md="4" class="mt-4">
            <CButton
              :disabled="disabledSubmit()"
              :color="disableSubmit ? 'dark' : 'danger'"
              style="color: white"
              @click="submit"
            >
              <CSpinner v-if="loading" color="white" size="sm" />
              Submit
              <CIcon :icon="icon.cilCursor" />
            </CButton>
          </CCol>
        </CRow>
      </CCard>
    </CModal>

    <!-- Modal Delete -->
    <CModal
      :visible="modalServiceDelete"
      alignment="center"
      @close="
        () => {
          modalServiceDelete = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Hapus Bahan Bakar</CModalTitle>
      </CModalHeader>
      <CModalBody class="text-center">
        <span>
          <strong> Yakin ingin menghapus ? </strong>
        </span>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="danger"
          variant="outline"
          @click="
            () => {
              modalServiceDelete = false
              ServiceModal = true
            }
          "
        >
          Batal
        </CButton>
        <CButton color="danger" style="color: white" @click="Delete(id)"
          >Hapus</CButton
        >
      </CModalFooter>
    </CModal>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>

<script>
import {
  CButton,
  CCard,
  CFormInput,
  CFormSelect,
  CModal,
  CRow,
} from '@coreui/vue'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import feather from 'feather-icons'
import {
  serviceAdd,
  fetchDetailBBM,
  updateBBM,
  deleteBBM,
  optionBBM,
  storeBBM,
} from '@/service/service'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CRow,
    CModal,
    CFormInput,
    CButton,
    CIcon,
    CCard,
    CFormSelect,
    DataTable,
  },
  data() {
    return {
      icon,
      icons: 'eye',
      UserData: JSON.parse(localStorage.getItem('userData')),
      modalAddBBM: false,
      modalServiceDelete: false,
      Service: '',
      dataServiceList: [],
      deleteService: '',

      toasts: [],
      toastsError: [],

      itemsBBM: [],
      imgShow: '',
      modalImg: false,
      editBBM: '',
      newDataBBM: {
        iddetailpinjam: '',
        kmsebelum: '',
        kmsesudah: '',
        kmspt: '',
        sisakm: '',
        jmlliter: '',
        harga: '',
        total: '',
        disableSubmit: false,
      },
      modalEditBBM: false,
      id: '',
      listBBM: [],
      addList: '',
      selected: '',
      selectedDate: '',
      tglpinjam: '',
      prevImages: [],
      images: [],
      listIdOption: [],

      kmSebelum: '',
      kmSesudah: '',
      kmSPT: '',
      sisaKM: '',
      jumlahLiter: '',
      hargaLiter: '',
      subtotal: '',
      messageError: false,

      column: [
        {
          data: 'tanggal_input',
          title: 'Tanggal',
        },
        {
          data: 'label',
          title: 'Kendaraan',
        },
        {
          data: 'nopolisi',
          title: 'Nomor Polisi',
        },
        {
          data: 'km_sebelum',
          title: 'KM Awal',
        },
        {
          data: 'km_sesudah',
          title: 'KM Akhir',
        },
        {
          data: 'sisa_km',
          title: 'Sisa KM',
        },
        {
          title: 'Actions',
          render: (data, row) => {
            return `<button class="btn btn-warning text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>`
          },
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  computed: {
    iconSvg: function () {
      return feather.icons[this.icons].toSvg()
    },
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.fetchDetailBahanBakar()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.handleEdit(this.selectedRow[0])
      this.$forceUpdate()
    },
    fetchDetailBahanBakar() {
      fetchDetailBBM().then(async (response) => {
        this.itemsBBM = await response.data.data
        this.testData = this.itemsBBM
      })
    },
    handleDetail(img) {
      this.imgShow = img
      this.modalImg = true
    },
    handleEdit(data) {
      this.editBBM = data
      this.modalEditBBM = true
    },
    handleDelete(id) {
      this.modalServiceDelete = true
      this.id = id
    },
    disabledSubmit() {
      let result = true
      if (
        this.editBBM.label === '' ||
        this.editBBM.nopolisi === '' ||
        this.editBBM.km_sebelum === '' ||
        this.editBBM.km_sesudah === '' ||
        this.editBBM.sisa_km === '' ||
        this.editBBM.jml_liter === ''
      ) {
        result = true
        this.disableSubmit = true
      } else {
        result = false
        this.disableSubmit = false
      }
      return result
    },
    submit() {
      const params = {
        id: this.editBBM.id,
        kmsebelum: this.editBBM.km_sebelum,
        kmsesudah: this.editBBM.km_sesudah,
        kmspt: this.editBBM.km_spt,
        sisakm: this.editBBM.sisa_km,
        jmlliter: this.editBBM.jml_liter,
        harga: this.editBBM.harga,
        total: this.editBBM.total,
      }
      updateBBM(this.editBBM.id, params).then((response) => {
        if (response.data.code == 200) {
          this.fetchDetailBahanBakar()
          this.modalEditBBM = false
        }
      })
    },
    Option() {
      optionBBM(this.UserData.nip).then((response) => {
        this.listDB = response.data.data
        this.listBBM = response.data.data.map((item) => ({
          ...item,
          label: item.nopolisi,
        }))
        this.listIdOption = response.data.data.map((item) => ({
          ...item,
          label: `No Polisi: ${item.nopolisi} | Tanggal Pinjam: ${item.tglpinjam}`,
        }))
        this.iddetailpinjam = this.listIdOption[0].iddetailpinjam
      })
      this.modalAddBBM = true
    },
    changeDate() {
      this.selectedDate = [
        this.listDB.find((item) => item.nopolisi === this.selected),
      ]
      this.tglpinjam = this.selectedDate[0].tglpinjam
    },
    handleImage(event) {
      Array.from(event.target.files).forEach((file) => {
        this.images.push(file)
        this.prevImages.push(URL.createObjectURL(file))
      })
    },
    submitBBM() {},
    Add() {
      serviceAdd({ description: this.Service })
        .then(async (response) => {
          if (response.status == 200) {
            this.Option()
          } else {
            this.toastsError(response.statusText)
          }
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    DelModal(item) {
      this.modalServiceDelete = true
      this.deleteService = item
    },
    Delete(id) {
      deleteBBM(id)
        .then((response) => {
          if (response.data.code == 200) {
            this.fetchDetailBahanBakar()
            this.modalServiceDelete = false
          }
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
    handleIdOption(event) {
      const find = this.listIdOption.find((item) =>
        event.target.value.includes(item.nopolisi),
      )
      this.iddetailpinjam = find.iddetailpinjam
    },
    handleKmSebelum(event) {
      this.kmSebelum = event.target.value
    },
    handleKmSesudah(event) {
      this.kmSesudah = event.target.value
    },
    handleKmSPT(event) {
      this.kmSPT = event.target.value
      this.sisaKM =
        parseInt(this.kmSesudah) + parseInt(this.kmSPT) - this.kmSebelum
      if (this.sisaKM < 0) {
        this.sisaKM = 0
        this.messageError = true
      }
    },
    handleJumlahLiter(event) {
      this.jumlahLiter = event.target.value
    },
    handleHargaLiter(event) {
      this.hargaLiter = event.target.value
      this.subtotal = this.hargaLiter * this.jumlahLiter
    },
    handleStoreBBM() {
      this.loading = true
      const params = {
        iddetailpinjam: this.iddetailpinjam,
        kmsebelum: this.kmSebelum,
        kmsesudah: this.kmSesudah,
        kmspt: this.kmSPT,
        sisakm: this.sisaKM,
        jmlliter: this.jumlahLiter,
        harga: this.hargaLiter,
        total: this.subtotal,
      }
      storeBBM(params)
        .then(() => {
          this.loading = false
          this.modalAddBBM = false
          this.fetchDetailBahanBakar()
          this.sisakm = ''
          this.subtotal = ''
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    async handleEditBBM(item) {
      switch (item) {
        case 'sisaKM':
          this.editBBM.sisa_km =
            parseInt(this.editBBM.km_sesudah) +
            parseInt(this.editBBM.km_spt) -
            this.editBBM.km_sebelum
          break
        case 'total':
          this.editBBM.total = this.editBBM.jml_liter * this.editBBM.harga
          break
        default:
          break
      }
    },
  },
}
</script>

<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
@media print {
  body * {
    visibility: hidden;
  }
  #printCode,
  #printCode * {
    visibility: visible;
  }
  #printCode {
    position: absolute;
    top: 10%;
    left: 30%;
  }
}
</style>
