<!-- eslint-disable prettier/prettier -->
<style>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';

#dataTable {
  cursor: pointer;
}
</style>
<!-- eslint-disable prettier/prettier -->
<script>
import { fetchProfile, storeLoan, fetchLatestrecord, fetchEselon, fetchEmployee, fetchVehiclePPKO } from '../../../service/service'
import { CIcon } from '@coreui/icons-vue'
import moment from 'moment'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import * as icon from '@coreui/icons'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-buttons'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import { CFormTextarea } from '@coreui/vue'

DataTable.use(DataTablesLib)

export default {
  components: {
    CIcon,
    CFormTextarea,
    vSelect,
    DataTable,
},
  data() {
    return {
      icon,
      id: Number(this.$route.query.id_vehicle),
      loadingSubmit: false,
      toasts: [],
      profile: [],
      vehicleItems: [],

      chooseVehicleItems: [],

      idVehicle: [],
      mileageBefore: [],
      imagesVehicle: [],

      toastsError: [],
      date: null,
      search: '',
      eselon1: '',
      eselon2: '',
      eselon3: '',
      eselon4: '',
      moment,
      user: JSON.parse(localStorage.getItem('abilities')),
      eselonListItemType1: [],
      eselonListItemType2: [],
      eselonListItemType3: [],
      eselonListItemType4: [],
      employeeList: [],
      employeeItem: '',
      penanggungJawabItem: '',
      errorMessage: '',
      column: [
        {
          data: 'jenis',
          title: 'Jenis Kendaraan',
        },
        {
          data: 'merk',
          title: 'Merk Kendaraan',
        },
        {
          data: 'nopolisi',
          title: 'Nomor Polisi',
        },
        {
          data: 'type',
          title: 'Tipe Kendaraan',
        },
        {
          data: 'warna',
          title: 'Warna',
        },
      ],
      options: {
        dom: 'Bfrtip',
        buttons: ['pageLength'],
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        select: true,
        responsive: true,
      },
      selectedItemUpload: null,
    }
  },
  mounted() {
    fetchVehiclePPKO(this.search).then((response) => {
      this.vehicleItems = JSON.parse(JSON.stringify(response.data.data)).map(
        (item) => ({
          ...item,
          isChecked: false,
          nomorSk: '',
          milage_before: 0,
          remark: '',
          images: [],
          prevImages: [],
        }),
      )
      this.vehicleItems = this.vehicleItems.filter(
        (item) => item.status === 'Tersedia',
      )
      if (this.id) {
        const findVehicle = this.vehicleItems.find(
          (item) => item.id === this.id,
        )
        if (findVehicle) {
          this.chooseVehicle(findVehicle)
        }
      }
      this.loading = false
    })
    fetchProfile().then((response) => {
      const { data } = response.data
      this.profile = data
      const params = {
        nip: this.user.nip,
        es: null,
      }
      fetchEselon(params).then((response) => {
        this.eselonListItemType1 = response.data.data.filter(
          (item) => item.tipe === 'Unit Eselon I',
        )
        this.eselonListItemType2 = response.data.data.filter(
          (item) => item.tipe === 'Unit Eselon II',
        )
        this.eselonListItemType3 = response.data.data.filter(
          (item) => item.tipe === 'Unit Eselon III',
        )
        this.eselonListItemType4 = response.data.data.filter(
          (item) => item.tipe === 'Unit Eselon IV',
        )
      })
      // this.latesRecord()
      fetchEmployee('').then(response => {
        this.employeeList = response.data.data
      })
    })
    this.date = moment(new Date()).format('DD MMMM YYYY | HH:mm')
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.chooseVehicle(dt.rows(indexes).data())
      }
    })
  },
  methods: {
    handleImage(event) {
      const findVehicle = this.chooseVehicleItems.find(item => item.id === this.selectedItemUpload)
      const allowedTypes = ['image/jpeg', 'image/png', 'image/jpg']
      Array.from(event.target.files).forEach((file) => {
        if (!allowedTypes.includes(file.type)) {
          this.errorMessage =
            'Invalid file type. Only JPEG, PNG, and JPG are allowed.'
          return
        }
        this.errorMessage = ''
        findVehicle.images.push(file)
        findVehicle.prevImages.push(URL.createObjectURL(file))
      })
    },
    chooseVehicle(data) {
      const findVehicleOnSelected = this.chooseVehicleItems.find(item => item.id === data[0].id)
      if (findVehicleOnSelected === undefined) {
        this.chooseVehicleItems.push(data[0])
        this.idVehicle.push(data[0].id)
      }
    },
    async submit() {
      this.loadingSubmit = true
      const formData = new FormData()
      formData.append('nip', this.profile.nip)
      formData.append('nippemakai', this.employeeItem.nip)
      formData.append('nippenanggungjawab', this.penanggungJawabItem.nip)
      for (let x = 0; x < this.chooseVehicleItems.length; x++) {
        await formData.append(`idkdrn[${x}]`, this.chooseVehicleItems[x].id)
        await formData.append(
          `kmsebelum[${x}]`,
          this.chooseVehicleItems[x].jaraktempuh,
        )
        await formData.append(
          `nomorsk[${x}]`,
          this.chooseVehicleItems[x].nomorSk,
        )
        await formData.append(`remark[${x}]`, this.chooseVehicleItems[x].remark)
        for (let y = 0; y < this.chooseVehicleItems[x].images.length; y++) {
          await formData.append(
            `foto[${y}][]`,
            this.chooseVehicleItems[x].images[y],
          )
        }
      }
      formData.append('es1', this.eselon1.id)
      formData.append('es2', this.eselon2.id)
      formData.append('es3', this.eselon3.id)
      formData.append('es4', this.eselon4.id)
      formData.append('jenispinjam', 'KOJ')
      storeLoan(formData, 'koj')
        .then(() => {
          this.createToast()
          setTimeout(() => {
            this.$router.push({ name: 'KendaraanOperasional' })
          }, 2000)
          this.loadingSubmit = false
        })
        .catch((err) => {
          this.loadingSubmit = false
          this.createToastError(err)
        })
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil buat pinjaman kendaraan',
      })
    },
    createToastError(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
    deleteListVehicle(data, index) {
      this.chooseVehicleItems.splice(index, 1)
      this.vehicleItems.push(data)
    },
    deleteImage(data, index) {
      data.prevImages.splice(index, 1)
      data.images.splice(index, 1)
    },
    latesRecord() {
      fetchLatestrecord(this.profile.nip, 'koj').then(response => {
        this.eselon1 = response.data.data.es1
        this.eselon2 = response.data.data.es2
        this.eselon3 = response.data.data.es3
        this.eselon4 = response.data.data.es4
      })
    },
    setEselon1(data) {
      this.eselon1 = data
    },
    setEselon2(data) {
      this.eselon2 = data
    },
    setEselon3(data) {
      this.eselon3 = data
    },
    setEselon4(data) {
      this.eselon4 = data
    },
    setEmployee(data) {
      this.employeeItem = data
    },
    setPenanggunJawab(data) {
      this.penanggungJawabItem = data
    },
    setIdVehicle(data) {
      this.selectedItemUpload = data.id
    },
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <CRow class="mb-3">
      <h3 class="text-black">Buat Pinjaman KOJ</h3>
    </CRow>
    <form @submit="submit">
      <CRow class="ms-1 mb-3">
        <CCol md="6" class="mb-4">
          <CFormLabel class="col-sm-12 col-form-label"> NIP </CFormLabel>
            <div class="col-sm-12">
              <CFormInput
                v-model="employeeItem.nip"
                disabled
              />
            </div>
        </CCol>
        <CCol md="6" class="mb-4">
          <CRow class="mb-4">
            <CCol md="12" class="mb-2">
              <CFormLabel>
                <span class="text-black">Pemakai</span>
              </CFormLabel>
              <v-select :options="employeeList" label="nama" @option:selected="setEmployee" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6" class="mb-4">
          <CRow class="mb-4">
            <CCol md="12" class="mb-2">
              <CFormLabel>
                <span class="text-black">Kuasa Pengguna Barang</span>
              </CFormLabel>
              <v-select :options="employeeList" label="nama" @option:selected="setPenanggunJawab" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6" class="mb-4">
          <CFormLabel class="col-sm-12 col-form-label"> Tanggal Pinjam </CFormLabel>
            <div class="col-sm-12">
              <CFormInput
                v-model="date"
                disabled
              />
            </div>
        </CCol>
        <CCol md="6" class="mb-4">
          <CFormLabel class="col-sm-12 col-form-label"> Tanggal Pengembalian </CFormLabel>
            <div class="col-sm-12">
              <CFormInput v-model="endDate" id="inputEndDate" type="date" required />
            </div>
        </CCol>
        <CCol md="6" class="mb-4">
          <CRow class="mb-4">
            <CCol md="12" class="mb-2">
              <CFormLabel>
                <span class="text-black">Pilih Unit Eselon I</span>
              </CFormLabel>
              <v-select :options="eselonListItemType1" label="nama" @option:selected="setEselon1" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6" class="mb-4">
          <CRow class="mb-4">
            <CCol md="12" class="mb-2">
              <CFormLabel>
                <span class="text-black">Pilih Unit Eselon II</span>
              </CFormLabel>
              <v-select :options="eselonListItemType2" label="nama" @option:selected="setEselon2" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6" class="mb-4">
          <CRow class="mb-4">
            <CCol md="12" class="mb-2">
              <CFormLabel>
                <span class="text-black">Pilih Unit Eselon III</span>
              </CFormLabel>
              <v-select :options="eselonListItemType3" label="nama" @option:selected="setEselon3" />
            </CCol>
          </CRow>
        </CCol>
        <CCol md="6" class="mb-4">
          <CRow class="mb-4">
            <CCol md="12" class="mb-2">
              <CFormLabel>
                <span class="text-black">Pilih Unit Eselon IV</span>
              </CFormLabel>
              <v-select :options="eselonListItemType4" label="nama" @option:selected="setEselon4" />
            </CCol>
          </CRow>
        </CCol>
      </CRow>

      <CRow class="mb-5">
        <div style="overflow-x: auto;">
          <DataTable
            id="dataTable"
            ref="dataTables"
            :columns="column"
            :options="options"
            :data="vehicleItems"
            class="display table-responsive responsive nowrap"
          />
        </div>
      </CRow>
    
      <CRow v-if="chooseVehicleItems.length > 0" class="mb-3">
        <h5>Kendaraan di pilih :</h5>
        <CCol md="12" class="border" style="border-radius: 10px">
          <CRow
            v-for="(item, index) in chooseVehicleItems"
            :key="index"
            class="p-3 align-items-start"
          >
            <CCol md="2" class="mb-2"
              >{{ index + 1 }}. {{ item.jenis }} {{ item.merk }} {{ item.type }}
            </CCol>
            <CCol md="2" class="mb-2">
              <CFormLabel>Nomor SK</CFormLabel>
              <CFormInput
                v-model="item.nomorSk"
                id="inputState"
                placeholder="masukan nomor SK.."
                type="text"
                required
              />
            </CCol>
            <CCol md="2" class="mb-2">
              <CFormLabel> Kilometer saat ini </CFormLabel>
              <CFormInput
                v-model="item.jaraktempuh"
                id="inputState"
                placeholder="masukan kilometer saat ini"
                type="number"
                required
              />
            </CCol>
            <CCol md="2" class="mb-2">
              <CFormLabel> Catatan </CFormLabel>
              <CFormTextarea
                v-model="item.remark"
                id="inputState"
                placeholder="Tulis catatan.."
                required
              />
            </CCol>
            <CCol md="2" v-if="item.images.length < 5" class="mb-2">
              <CButton color="info" size="sm" class="text-white mb-2 mt-2" @click="setIdVehicle(item)">
                <label for="inputFile">Upload Foto</label>
              </CButton>
              <CFormInput
                id="inputFile"
                type="file"
                multiple
                hidden
                required
                @input="handleImage($event)"
              />
            </CCol>
            <CCol md="12" class="d-flex align-items-center mb-2">
              <div
                v-for="(imageItem, indexImage) in item.prevImages"
                :key="indexImage"
              >
                <div class="m-3">
                  <img :src="imageItem" style="width: 50px" />
                  <div class="ms-2">
                    <CButton
                      color="danger"
                      class="text-white"
                      size="sm"
                      @click="deleteImage(item, indexImage)"
                    >
                      Hapus foto
                    </CButton>
                  </div>
                </div>
              </div>
            </CCol>
            <CRow><div class="text-danger">{{ errorMessage }}</div></CRow>
            <div>
              <CButton
                color="danger"
                size="sm"
                class="text-white"
                @click="deleteListVehicle(item, index)"
              >
                Hapus list
              </CButton>
            </div>
          </CRow>
        </CCol>
      </CRow>

      <CRow>
        <CCol md="auto">
          <CButton color="success" size="sm" class="text-white" type="submit">
            <CSpinner v-if="loadingSubmit" color="white" size="sm" />
            Submit
            <CIcon :icon="icon.cilCursor" />
          </CButton>
        </CCol>
      </CRow>
    </form>

    <!-- Toast success -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast Error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>