<!-- eslint-disable prettier/prettier -->
<style>
</style>
<!-- eslint-disable prettier/prettier -->
<script>
import { fetchProfile, storeReturn, fetchDetailLoan } from '../../../service/service'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
export default {
  components: {
    CIcon,
  },
  data() {
    return {
      icon,
      id: this.$route.params.id_pinjam,
      loadingSubmit: false,
      toasts: [],
      profile: [],
      vehicleItems: [],

      chooseVehicleItems: [],

      idVehicle: [],
      mileageBefore: [],
      imagesVehicle: [],

      toastsError: [],
      imageModal: false,
      fotoPeminjaman: [],
      fotoKendaraan: [],
      errorMessage: '',
    }
  },
  mounted() {
    fetchDetailLoan(this.id).then((response) => {
      const vehicle = JSON.parse(JSON.stringify(response.data.data))
      this.vehicleItems = [vehicle.detail_pinjaman.find(item => item.status_pinjaman === 'Belum Dikembalikan')].map(item => ({
        ...item,
          isChecked: false,
          milage_before: 0,
          remark: '',
          images: [],
          prevImages: [],
      }))
      this.loading = false
    })
    fetchProfile().then((response) => {
      const { data } = response.data
      this.profile = data
    })
  },
  methods: {
    handleImage(data, event) {
        const allowedTypes = ['image/jpeg', 'image/png', 'image/jpg']
        Array.from(event.target.files).forEach((file) => {
          if (!allowedTypes.includes(file.type)) {
            this.errorMessage = 'Invalid file type. Only JPEG, PNG, and JPG are allowed.'
            return
          }
          this.errorMessage = ''
          data.images.push(file)
          data.prevImages.push(URL.createObjectURL(file))
        })
    },
    chooseVehicle(data) {
      this.chooseVehicleItems.push(data)
      this.idVehicle.push(data.id)
      const findIndex = this.vehicleItems.findIndex(item => item.id === data.id)
      this.vehicleItems.splice(findIndex, 1)
    },
    async submit() {
      this.loadingSubmit = true
      const formData = new FormData()
      formData.append('nip', this.profile.nip)
      formData.append('idpinjam', this.id)
      for (let x = 0; x < this.chooseVehicleItems.length; x++) {
        await formData.append(`idkdrn[${x}]`, this.chooseVehicleItems[x].id_kendaraan)
        await formData.append(`kmsesudah[${x}]`, this.chooseVehicleItems[x].milage_before)
        await formData.append(`remark[${x}]`, this.chooseVehicleItems[x].remark)
        for (let y = 0; y < this.chooseVehicleItems[x].images.length; y++) {
          await formData.append(`foto[${y}][]`, this.chooseVehicleItems[x].images[y])
        }
      }
      storeReturn(formData).then(() => {
        this.createToast()
        setTimeout(() => {
          this.$router.push({ name: 'PinjamPakai' })
        }, 2000)
        this.loadingSubmit = false
      }).catch(err => {
        this.loadingSubmit = false
        this.createToastError(err)
      })
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil buat pengembalian kendaraan',
      })
    },
    createToastError(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
    deleteListVehicle(data, index) {
      this.chooseVehicleItems.splice(index, 1)
      this.vehicleItems.push(data)
      for (let x = 0; x < this.images.length; x++) {
        if (this.images[x].id === index) {
          this.images.splice(x, 1)
        }
      }
    },
    deleteImage(data, index) {
      data.prevImages.splice(index, 1)
      data.images.splice(index, 1)
    },
    openImageModal(data) {
      this.imageModal = true
      this.fotoPeminjaman = data.foto_peminjaman
      this.fotoKendaraan = data.foto_kendaraan
    },
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <CRow class="mb-3">
      <h3 class="text-black">Buat Pengembalian</h3>
    </CRow>

    <CRow class="ms-1">
    </CRow>

    <CRow class="mb-5">
      <CTable responsive>
        <CTableHead color="dark">
          <CTableRow>
            <CTableHeaderCell scope="col">#</CTableHeaderCell>
            <CTableHeaderCell scope="col">Jenis Kendaraan</CTableHeaderCell>
            <CTableHeaderCell scope="col">Merk Kendaraan</CTableHeaderCell>
            <CTableHeaderCell scope="col">Nomor Polisi</CTableHeaderCell>
            <CTableHeaderCell scope="col">Tipe Kendaraan</CTableHeaderCell>
            <CTableHeaderCell scope="col">Warna</CTableHeaderCell>
            <CTableHeaderCell scope="col">Action</CTableHeaderCell>
          </CTableRow>
        </CTableHead>
        <CTableBody v-for="(item, index) in vehicleItems" :key="index">
          <CTableRow>
            <CTableDataCell>{{ index + 1 }}</CTableDataCell>
            <CTableDataCell>{{ item.jenis }}</CTableDataCell>
            <CTableDataCell>{{ item.merk }}</CTableDataCell>
            <CTableDataCell>{{ item.nopolisi }}</CTableDataCell>
            <CTableDataCell>{{ item.type }}</CTableDataCell>
            <CTableDataCell>{{ item.warna }}</CTableDataCell>
            <CTableDataCell>
              <CButton
                size="sm"
                color="info"
                style="color: white; margin-right: 1rem;"
                @click="openImageModal(item)"
                >
                Lihat Foto
                <CIcon :icon="icon.cilDescription" />
              </CButton>
              <CButton
                color="info"
                size="sm"
                class="text-white"
                @click="chooseVehicle(item)"
              >
                Pilih
              </CButton>
            </CTableDataCell>
          </CTableRow>
        </CTableBody>
      </CTable>
    </CRow>

    <CRow class="mb-3">
      <h5>Kendaraan dipilih:</h5>
      <CCol md="12" class="border" style="border-radius: 10px">
        <CRow
          v-for="(item, index) in chooseVehicleItems"
          :key="index"
          class="p-3 align-items-start"
        >
          <CCol md="2" class="mb-2"
            >{{ index + 1 }}. {{ item.jenis }} {{ item.merk }} {{ item.type }}
          </CCol>
          <CCol md="2" class="mb-2">
            <CFormLabel>
              Kilometer saat ini
            </CFormLabel>
            <CFormInput
              v-model="item.milage_before"
              id="inputState"
              placeholder="Masukan kilometer saat ini"
              type="number"
            />
          </CCol>
          <CCol md="2" class="mb-2">
            <CFormLabel>
              Catatan
            </CFormLabel>
            <CFormInput
              v-model="item.remark"
              id="inputState"
              placeholder="Tulis catatan..."
            />
          </CCol>
          <CCol md="2" class="mb-2">
            <CButton color="info" size="sm" class="text-white">
              <label for="inputFile">Upload Foto</label>
            </CButton>
            <CFormInput
              id="inputFile"
              type="file"
              multiple
              hidden
              @input="handleImage(item, $event)"
            />
          </CCol>
          <CCol md="3" class="mb-2">
            <CRow v-for="(imageItem, indexImage) in item.prevImages" :key="indexImage">
              <CCol md="12" class="d-flex align-items-center mb-2">
                <CAvatar
                  :src="imageItem"
                  size="lg"
                />
                <div class="ms-2">
                  <CButton
                    color="danger"
                    class="text-white"
                    size="sm"
                    @click="deleteImage(item, indexImage)"
                  >
                    Hapus foto
                  </CButton>
                </div>
              </CCol>
            </CRow>
          </CCol>
          <CRow><div class="text-danger">{{ errorMessage }}</div></CRow>
          <CCol md="1">
            <CButton
              color="danger"
              size="sm"
              class="text-white"
              @click="deleteListVehicle(item, index)"
            >
              Hapus list
            </CButton>
          </CCol>
        </CRow>
      </CCol>
    </CRow>

    <CRow>
      <CCol md="auto">
        <CButton color="success" size="sm" class="text-white" @click="submit">
          <CSpinner v-if="loadingSubmit" color="white" size="sm" />
          Submit
          <CIcon :icon="icon.cilCursor" />
        </CButton>
      </CCol>
    </CRow>

    <!-- Toast success -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast Error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <CModal
      :visible="imageModal"
      alignment="center"
      @close="
        () => {
          imageModal = false
        }
      "
    >
      <CModalBody>
        <CRow class="mb-2 p-4">
          <h5>
            Foto Peminjaman:
          </h5>
          <CCol md="12" class="border p-1" style="border-radius: 10px">
            <img v-for="(item, index) in fotoPeminjaman" :key="index" class="m-2" :src="item.urlfoto" style="width: 100px;">
          </CCol>
        </CRow>
        <CRow class="p-4">
          <h5>
            Foto Kendaraan:
          </h5>
          <CCol md="12" class="border p-1" style="border-radius: 10px">
            <img v-for="(item, index) in fotoKendaraan" :key="index" class="m-2" :src="item.urlfoto" style="width: 100px;">
          </CCol>
        </CRow>
      </CModalBody>
    </CModal>
  </CCard>
</template>
