<!-- eslint-disable prettier/prettier -->
<style>
</style>
<!-- eslint-disable prettier/prettier -->
<script>
import { fetchDetailLoan, fetchVehicleDetail } from '../../../service/service'
import QrcodeVue from 'qrcode.vue'
export default {
  components: {
    QrcodeVue,
  },
  data() {
    return {
      id: this.$route.params.id_pinjam,
      imageModalPeminjaman: false,
      imageModalPengembalian: false,
      detailLoanItems: [],
      fotoPeminjaman: [],
      fotoKendaraan: [],
      eselon1: '',
      eselon2: '',
      eselon3: '',
      eselon4: '',
      isPrint: false,
      tanggalPinjam: '',
      tanggalPengembalian: '',

      value: null,
      size: 250,
    }
  },
  mounted() {
    this.getDataDetail()
  },
  methods: {
    async getDataDetail() {
      await fetchDetailLoan(this.id, 'ppko').then((response) => {
        const { data } = response.data
        this.detailLoanItems = data
        this.tanggalPengembalian = data.tgl_pengembalian
        data.detail_pinjaman.forEach((child) => {
          fetchVehicleDetail(child.id_kendaraan).then((response) => {
            this.detailLoanItems.detail_pinjaman = data.detail_pinjaman.map(
              (item) => ({
                ...item,
                kmsesudah: response.data.data.jaraktempuh,
              }),
            )
          })
        })
        this.eselon1 = this.detailLoanItems.es1.name
        this.eselon2 = this.detailLoanItems.es2.name
        this.eselon3 = this.detailLoanItems.es3.name
        this.eselon4 = this.detailLoanItems.es4.name
        this.tanggalPengembalian = data.tgl_pengembalian
        this.tanggalPinjam = data.tgl_pinjam
      })
    },
    async print() {
      this.isPrint = true
      this.$forceUpdate()
      var element = document.getElementById('printWrapper')
      element.style.display = 'inline-block'
      await this.$htmlToPaper('printWrapper')
      element.style.display = 'none'
      this.$forceUpdate()
      this.isPrint = false
    },
    getValue(data) {
      return `${process.env.VUE_APP_BASE_URL_PAGE}/#/data-kendaraan?qrcode=${data.id_kendaraan}`
    }
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <CRow class="justify-content-between">
      <CCol md="6">
        <h3 class="text-black">Data Pinjaman PPKO</h3>
      </CCol>
      <CCol md="3">
        <CButton color="info" style="color: white; width: 100%" @click="print"
          >Print</CButton
        >
      </CCol>
    </CRow>
    <CForm class="row g-3 mb-3">
      <CCol md="3">
        <CFormLabel><strong>NIP</strong></CFormLabel>
        <CFormInput
          v-model="detailLoanItems.nippemakai"
          disabled
          style="background: white"
        />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Pemakai</strong></CFormLabel>
        <CFormInput
          v-model="detailLoanItems.pemakai"
          disabled
          style="background: white"
        />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Kuasa Pengguna Barang</strong></CFormLabel>
        <CFormInput
          v-model="detailLoanItems.penanggung_jawab"
          disabled
          style="background: white"
        />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Penyetuju</strong></CFormLabel>
        <CFormInput
          v-model="detailLoanItems.penyetuju"
          disabled
          style="background: white"
        />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Status Pengajuan</strong></CFormLabel>
        <CFormInput
          v-model="detailLoanItems.status_pengajuan"
          disabled
          style="background: white"
        />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Unit Eselon I</strong></CFormLabel>
        <CFormInput v-model="eselon1" disabled style="background: white" />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Unit Eselon II</strong></CFormLabel>
        <CFormInput v-model="eselon2" disabled style="background: white" />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Unit Eselon III</strong></CFormLabel>
        <CFormInput v-model="eselon3" disabled style="background: white" />
      </CCol>
      <CCol md="3">
        <CFormLabel><strong>Unit Eselon IV</strong></CFormLabel>
        <CFormInput v-model="eselon4" disabled style="background: white" />
      </CCol>
    </CForm>
    <CRow
      v-for="(item, index) in detailLoanItems.detail_pinjaman"
      :key="index"
      class="mt-2"
    >
      <CCol md="12" class="border p-2 mb-5" style="border-radius: 10px">
        <CRow>
          <CCol md="12">
            <h3># {{ index + 1 }}</h3>
          </CCol>
          <!-- <CCol md="4" class="mb-4">
            <CFormLabel><strong>Nomor SK</strong></CFormLabel>
            <CFormInput
              v-model="item.nomorsk"
              disabled
              style="background: white"
            />
          </CCol> -->
          <CCol md="4" class="mb-4">
            <CFormLabel><strong> Tanggal Pinjam </strong></CFormLabel>
            <CFormInput
              v-model="item.tgl_pinjam"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong> Tanggal Pengembalian </strong></CFormLabel>
            <CFormInput
              v-model="tanggalPengembalian"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Kilometer Sebelum</strong></CFormLabel>
            <CFormInput
              v-model="item.kmsebelum"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Kilometer Saat Ini</strong></CFormLabel>
            <CFormInput
              v-model="item.kmsesudah"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Catatan</strong></CFormLabel>
            <CFormTextarea
              rows="3"
              v-model="item.remark"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Nomor BPKB</strong></CFormLabel>
            <CFormInput
              v-model="item.nobpkb"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Nomor Mesin</strong></CFormLabel>
            <CFormInput
              v-model="item.nomesin"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Nomor Rangka</strong></CFormLabel>
            <CFormInput
              v-model="item.norangka"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Nomor Polisi</strong></CFormLabel>
            <CFormInput
              v-model="item.nopolisi"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Tahun Kendaraan</strong></CFormLabel>
            <CFormInput
              v-model="item.thnkdrn"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Tanggal Pajak</strong></CFormLabel>
            <CFormInput
              v-model="item.tglpajak"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Tanggal Mati Pajak</strong></CFormLabel>
            <CFormInput
              v-model="item.tglmatipajak"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Merk Kendaraan</strong></CFormLabel>
            <CFormInput
              v-model="item.merk"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Jenis Kendaraan</strong></CFormLabel>
            <CFormInput
              v-model="item.jenis"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Tipe Kendaraan</strong></CFormLabel>
            <CFormInput
              v-model="item.type"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Warna Kendaraan</strong></CFormLabel>
            <CFormInput
              v-model="item.warna"
              disabled
              style="background: white"
            />
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Foto Kendaraan</strong></CFormLabel>
            <div v-if="item.foto_kendaraan.length > 0">
              <div
                v-for="(image, indexImageKendaraan) in item.foto_kendaraan"
                :key="indexImageKendaraan"
                class="d-flex"
              >
                <img :src="image.urlfoto" style="width: 100%" class="m-2" />
              </div>
            </div>
            <div v-else>Tidak ada Foto Kendaraan</div>
          </CCol>
          <CCol md="4" class="mb-4">
            <CFormLabel><strong>Foto Peminjaman</strong></CFormLabel>
            <div v-if="item.foto_peminjaman.length > 0">
              <div
                v-for="(image, indexImagePeminjaman) in item.foto_peminjaman"
                :key="indexImagePeminjaman"
                class="d-flex"
              >
                <img :src="image.urlfoto" style="width: 100%" class="m-2" />
              </div>
            </div>
            <div v-else>Tidak ada Foto Peminjaman</div>
          </CCol>
          <CCol md="12" class="mb-4">
            <CFormLabel><strong>Data BBM</strong></CFormLabel>
            <div v-if="item.data_bbm.length > 0">
              <CTable striped hover>
                <CTableHead>
                  <CTableRow color="dark">
                    <CTableHeaderCell scope="col">#</CTableHeaderCell>
                    <CTableHeaderCell scope="col">Harga/liter</CTableHeaderCell>
                    <CTableHeaderCell scope="col"
                      >Jumlah Liter</CTableHeaderCell
                    >
                    <CTableHeaderCell scope="col"
                      >Kilometer Awal</CTableHeaderCell
                    >
                    <CTableHeaderCell scope="col"
                      >Kilometer Akhir</CTableHeaderCell
                    >
                    <CTableHeaderCell scope="col"
                      >Kilometer SPT</CTableHeaderCell
                    >
                    <CTableHeaderCell scope="col"
                      >Sisa Kilometer</CTableHeaderCell
                    >
                    <CTableHeaderCell scope="col">Subtotal</CTableHeaderCell>
                  </CTableRow>
                  <CTableRow
                    v-for="(itemBBM, indexBBM) in item.data_bbm"
                    :key="indexBBM"
                  >
                    <CTableHeaderCell scope="col">{{
                      indexBBM + 1
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.harga
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.jmlliter
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.kmsebelum
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.kmsesudah
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.kmspt
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.sisakm
                    }}</CTableHeaderCell>
                    <CTableHeaderCell scope="col">{{
                      itemBBM.total
                    }}</CTableHeaderCell>
                  </CTableRow>
                </CTableHead>
              </CTable>
            </div>
            <div v-else>Tidak ada Data BBM</div>
          </CCol>
        </CRow>
      </CCol>
    </CRow>
    <div id="printWrapper" class="p-5" style="display: none">
      <CRow class="justify-content-between">
        <CCol md="6">
          <h3 class="text-black">Data Pinjaman PPKO</h3>
        </CCol>
      </CRow>
      <CRow
        v-for="(item, index) in detailLoanItems.detail_pinjaman"
        :key="index"
        class="mt-2"
      >
      <div>
        <CCol cols="12" class="mb-3">
          <CRow>
            <CCol cols="6" class="align-self-center">
              <img
                :src="item.foto_kendaraan[0].urlfoto"
                style="width: 300px"
                class=""
              />
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Jenis : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.jenis }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Merk : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.merk }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Type : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.type }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-5 col-form-label"
                  ><strong>Bahan Bakar : </strong></CFormLabel
                >
                <CCol cols="7">{{ item.jenisbbm }} </CCol>
              </CRow>
            </CCol>
            <CCol cols="6" class="mb-4">
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>No. BPKB : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.nobpkb }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>No. Mesin : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.nomesin }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>No. Rangka : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.norangka }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>No. Polisi : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.nopolisi }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Warna : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.warna }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Tahun : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.thnkdrn }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Catatan : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.remark }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-4 col-form-label"
                  ><strong>Pajak Kendaraan : </strong></CFormLabel
                >
                <CCol cols="8">{{ item.tglpajak }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-5 col-form-label"
                  ><strong>Jatuh Tempo : </strong></CFormLabel
                >
                <CCol cols="7">{{ item.tglmatipajak }} </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        <CCol cols="12">
          <h5 class="text-black mt-3">Detail Pinjaman</h5>
          <CRow>
            <CCol xs="3">
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label"
                  ><strong>Tanggal Pinjam : </strong></CFormLabel
                >
                <CCol sm="6">{{ tanggalPinjam }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label"
                  ><strong>Tanggal Pengembalian : </strong></CFormLabel
                >
                <CCol sm="6">{{ tanggalPengembalian }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label"
                  ><strong>Jenis Kendaraan : </strong></CFormLabel
                >
                <CCol sm="6">{{ item.jenis }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> Nama : </strong></CFormLabel
                >
                <CCol sm="6">{{ detailLoanItems.pemakai }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> NIP : </strong>
                </CFormLabel>
                <CCol sm="6">{{ detailLoanItems.nippemakai }} </CCol>
              </CRow>
            </CCol>
            <CCol xs="3">
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> Unit Esselon 1 : </strong>
                </CFormLabel>
                <CCol sm="6">{{ detailLoanItems.es1.name }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> Unit Esselon 2 : </strong>
                </CFormLabel>
                <CCol sm="6">{{ detailLoanItems.es2.name }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> Unit Esselon 3 : </strong>
                </CFormLabel>
                <CCol sm="6">{{ detailLoanItems.es3.name }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> Unit Esselon 4 : </strong>
                </CFormLabel>
                <CCol sm="6">{{ detailLoanItems.es4.name }} </CCol>
              </CRow>
              <CRow class="align-items-center">
                <CFormLabel class="col-sm-6 col-form-label">
                  <strong> Disetujui : </strong>
                </CFormLabel>
                <CCol sm="6">{{ detailLoanItems.penyetuju }} </CCol>
              </CRow>
            </CCol>
            <CCol xs="6">
              <CRow class="justify-content-center">
                <qrcode-vue
                  render-as="svg"
                  :value="getValue(item)"
                  :size="size"
                  level="H"
                />
              </CRow>
            </CCol>
            <CCol xs="12">
              <CRow class="justify-content-between me-3">
                <CCol
                  cols="6"
                  class="mt-5 d-flex flex-column align-items-center"
                >
                  <h6 class="mb-5">Kuasa Pengguna Barang</h6>
                  <div class="mt-5">{{ detailLoanItems.penanggung_jawab }} - {{ detailLoanItems.nippenanggungjawab }}</div>
                </CCol>
                <CCol
                  cols="6"
                  class="mt-5 d-flex flex-column align-items-center"
                >
                  <h6 class="mb-5">Pemakai</h6>
                  <div class="mt-5">{{ detailLoanItems.pemakai }} - {{ detailLoanItems.nippemakai }}</div>
                </CCol>
              </CRow>
            </CCol>
          </CRow>
        </CCol>
        </div>
      </CRow>
    </div>
  </CCard>
</template>
