<!-- eslint-disable prettier/prettier -->
<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';

.nav-pills .nav-link {
  color: #3c4b64;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #3c4b64;
}
</style>
<!-- eslint-disable prettier/prettier -->
<script>
import {
  fetchDataLoan,
  fetchProfile,
  merkOptions,
  typeOptions,
  jenisOptions,
} from '../../../service/service'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CIcon,
    DataTable,
  },
  data() {
    return {
      icon,
      loading: true,
      profile: [],
      loanItems: [],
      startDate: null,
      endDate: null,

      typeItems: [],
      jenisItems: [],
      merkItems: [],

      search: '',
      idtype: null,
      idmerk: null,
      idjenis: null,

      tabActive: 'Semua',
      tabs: [
        {
          label: 'Semua',
        },
        {
          label: 'Selesai',
        },
        {
          label: 'Belum Selesai',
        },
      ],
      visibleVehicle: false,
      toastsError: [],

      column: [
        {
          data: 'nip',
          title: 'NIP',
        },
        {
          data: 'tgl_pinjam',
          title: 'Tanggal Pinjam',
        },
        {
          data: 'detail_pinjaman[0].label',
          title: 'Nama Kendaraan',
        },
        {
          data: 'detail_pinjaman[0].warna',
          title: 'Warna Kendaraan',
        },
        {
          data: 'detail_pinjaman[0].nopolisi',
          title: 'Nomor Polisi',
        },
        {
          data: 'status_pengajuan',
          title: 'Status Pengajuan',
        },
        {
          title: 'Actions',
          render: (data, row) => {
            return `<button class="btn btn-warning text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>`
          },
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  async mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.fetchData()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.handleDetail(this.selectedRow[0])
      this.$forceUpdate()
    },
    setTab(data) {
      this.loading = true
      this.tabActive = data.label
      this.getDataLoan()
      this.loading = false
      this.$forceUpdate()
    },
    async getDataLoan() {
      const paramsDataLoan = {
        startDate: this.startDate,
        endDate: this.endDate,
      }
      await fetchDataLoan(paramsDataLoan, this.profile.nip, 'koj').then((response) => {
        const { data } = response.data
        this.loanItems = data
        if (this.tabActive !== 'Semua') {
          this.loanItems = this.loanItems.filter(
            (item) => item.status_pinjaman === this.tabActive,
          )
        }
      }).catch(err => {
        this.loading = false
        this.createToastError(err)
      })
    },
    async fetchData() {
      await fetchProfile().then((response) => {
        const { data } = response.data
        this.profile = data
      })
      const paramsDataLoan = {
        startDate: this.startDate,
        endDate: this.endDate,
      }
      await fetchDataLoan(paramsDataLoan, this.profile.nip, 'koj').then((response) => {
        const { data } = response.data
        this.loanItems = data
        this.testData = this.loanItems
      }).catch(err => {
        this.loading = false
        this.createToastError(err)
      })
      await merkOptions().then((response) => {
        this.merkItems = JSON.parse(JSON.stringify(response.data.data)).map(
          (item) => ({
            ...item,
            label: item.merk,
          }),
        )
        this.merkItems.unshift({ label: 'Merk Kendaraan...' })
      }).catch(err => {
        this.loading = false
        this.createToastError(err)
      })
      await typeOptions().then((response) => {
        this.typeItems = JSON.parse(JSON.stringify(response.data.data)).map(
          (item) => ({
            ...item,
            label: item.type,
          }),
        )
        this.typeItems.unshift({ label: 'Tipe Kendaraan...' })
      }).catch(err => {
        this.loading = false
        this.createToastError(err)
      })
      await jenisOptions().then((response) => {
        this.jenisItems = JSON.parse(JSON.stringify(response.data.data)).map(
          (item) => ({
            ...item,
            label: item.jenis,
          }),
        )
        this.jenisItems.unshift({ label: 'Jenis Kendaraan...' })
      }).catch(err => {
        this.loading = false
        this.createToastError(err)
      })
      this.loading = false
    },
    async filterLoan(event) {
      const findType = this.typeItems.find(
        (item) => item.type === event.target.value,
      )
      const findMerk = this.merkItems.find(
        (item) => item.merk === event.target.value,
      )
      const findJenis = this.jenisItems.find(
        (item) => item.jenis === event.target.value,
      )
      if (findType) {
        this.idtype = findType
      } else {
        this.idtype = null
      }
      if (findMerk) {
        this.idmerk = findMerk
      } else {
        this.idmerk = null
      }
      if (findJenis) {
        this.idjenis = findJenis
      } else {
        this.idjenis = null
      }
      this.getDataLoan()
    },
    handleDetail(data) {
      this.$router.push({
        name: 'DetailPinjaman',
        params: { id_pinjam: data.id_pinjam },
      })
    },
    handleReturn(data) {
      this.$router.push({
        name: 'BuatPengembalian',
        params: { id_pinjam: data.id_pinjam },
      })
    },
    expandVehicle() {
      this.visibleVehicle = !this.visibleVehicle
    },
    createToastError(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-4">
    <CRow class="mb-3">
      <h3 class="text-black">Pinjam Pakai</h3>
    </CRow>

    <CRow class="mb-2">
      <CCol md="auto">
        <router-link to="/pinjam-pakai/buat-pinjaman-koj">
          <CButton color="info" size="sm" class="text-white">
            Buat Pinjaman KOJ
            <CIcon :icon="icon.cilPlus" />
          </CButton>
        </router-link>
      </CCol>
    </CRow>

    <hr />

    <div style="overflow-x: auto;">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Toast Error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>
