<template>
  <div
    class="min-vh-100 d-flex flex-row align-items-center"
    style="
      background: linear-gradient(45deg, #3c4b64, transparent);
      position: relative;
    "
  >
    <CContainer style="margin-top: 7rem">
      <CRow class="justify-content-between align-items-center">
        <CCol sm="6" cols="12">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm @submit.prevent="login">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput
                      v-model="email"
                      placeholder="Username"
                      autocomplete="username"
                      type="email"
                      required
                      @input="validationEmail"
                    />
                  </CInputGroup>
                  <CInputGroup>
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      v-model="password"
                      :type="icons === 'eye' ? 'text' : 'password'"
                      placeholder="Password"
                      autocomplete="current-password"
                      required
                      aria-describedby="show-password"
                      @input="validationPassword"
                    />
                    <CButton
                      type="button"
                      color="secondary"
                      variant="outline"
                      id="show-password"
                      @click="handleShowPassword"
                    >
                      <div v-html="iconSvg"></div>
                    </CButton>
                  </CInputGroup>
                  <CRow v-if="passwordMinLength">
                    <small class="text-danger"
                      >*minimal password 6 karakter</small
                    >
                  </CRow>
                  <CRow class="mt-4">
                    <CCol :xs="6">
                      <CButton
                        :color="validationSubmit() ? 'secondary' : 'info'"
                        class="px-4 text-white"
                        type="submit"
                        :disabled="validationSubmit()"
                      >
                        <CSpinner v-if="loading" size="sm" />
                        Login
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
        <CCol sm="6" cols="12">
          <div class="d-flex align-items-center justify-content-center">
            <img
              src="../../assets/images/material-logo-2021.png"
              class="w-50"
            />
          </div>
        </CCol>
      </CRow>
    </CContainer>

    <!-- Toast Error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </div>
</template>

<script>
import { authLogin } from '../../service/service'
import axios from 'axios'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import feather from 'feather-icons'

export default {
  name: 'Login',
  components: {
    CIcon,
  },

  data() {
    return {
      email: '',
      password: '',

      isEmailValid: false,
      isPasswordValid: false,
      passwordMinLength: false,

      toastsError: [],

      icon,
      icons: 'eye-off',
      loading: false,
    }
  },
  computed: {
    iconSvg: function () {
      return feather.icons[this.icons].toSvg()
    },
  },
  mounted() {
    //
  },
  methods: {
    login() {
      this.loading = true
      const params = {
        email: this.email,
        password: this.password,
      }
      authLogin(params)
        .then((response) => {
          this.getProfile(response.data.data)
          localStorage.setItem(
            'accessToken',
            JSON.stringify(response.data.data),
          )
        })
        .catch((err) => {
          this.loading = false
          this.createToastError(err)
        })
    },
    getProfile(token) {
      axios
        .get(`${process.env.VUE_APP_BASE_URL}auth/user-profile`, {
          headers: { Authorization: `Bearer ${token.access_token}` },
        })
        .then(async (response) => {
          await localStorage.setItem(
            'userData',
            JSON.stringify(response.data.data),
          )
          const id = localStorage.getItem('idvehicle')
          if (id) {
            this.$router.push({ name: 'DataKendaraan', query: { qrcode: id } })
          } else {
            this.$router.push({ name: 'Dashboard' })
            this.$router.go()
          }
        })
        .catch((err) => {
          this.loading = false
          this.createToastError(err)
        })
    },
    validationPassword(event) {
      this.password = event.target.value
      if (event.target.value.length < 6) {
        this.passwordMinLength = true
      } else {
        this.passwordMinLength = false
      }
    },
    validationEmail(event) {
      this.email = event.target.value
    },
    validationSubmit() {
      if (
        this.passwordMinLength ||
        this.email.length === 0 ||
        this.password.length === 0
      ) {
        return true
      } else {
        return false
      }
    },
    createToastError(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
    handleShowPassword() {
      if (this.icons === 'eye') {
        return (this.icons = 'eye-off')
      }
      if (this.icons === 'eye-off') {
        return (this.icons = 'eye')
      }
    },
  },
}
</script>
