<!-- eslint-disable prettier/prettier -->
<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
</style>
<script>
import {
  fetchEmployee,
  fetchWorkUnit,
  fetchPositionOptions,
  fetchAbilities,
  fetchMenuAbility,
  storeEmployee,
  fetchEmployeeDetail,
  deleteEmployee,
} from '../../../service/service'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import feather from 'feather-icons'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CIcon,
    DataTable,
  },
  data() {
    return {
      icon,
      icons: 'eye',
      UserData: JSON.parse(localStorage.getItem('userData')),
      visibleLiveDemo: false,
      visibleDelete: false,
      visibleAddEmployee: false,
      visibleAddEmployee2: false,
      loading: true,
      toasts: [],
      search: '',

      employeeItems: [],
      workUnitItems: [],
      positionOptions: [],
      abilitiesItem: [],
      menuAbilitiesItem: [],
      loadingSubmit: false,

      // Store
      nip: '',
      nama: '',
      email: '',
      password: '',
      confirmPassword: '',
      roleId: '',
      jk: '',
      alamat: '',
      idbiro: '',
      idjabatan: '',
      abilities: [],

      // Detail
      jkL: false,
      jkP: false,

      idUser: null,

      disableSubmit: true,

      column: [
        {
          data: 'nama',
          title: 'Nama',
        },
        {
          data: 'nip',
          title: 'NIP',
        },
        {
          data: 'alamat',
          title: 'Alamat',
        },
        {
          data: 'jk',
          title: 'Jenis Kelamin',
        },
        {
          data: 'jabatan',
          title: 'Jabatan',
        },
        {
          data: 'unit_kerja',
          title: 'Unit Kerja',
        },
        {
          data: 'email',
          title: 'Email',
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  computed: {
    iconSvg: function () {
      return feather.icons[this.icons].toSvg()
    },
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.fetchData()
    this.fetchAnyOptions()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.handleDetail(this.selectedRow[0])
      this.$forceUpdate()
    },
    fetchData() {
      fetchEmployee(this.search).then((response) => {
        const { data } = response.data
        this.employeeItems = data
        this.testData = this.employeeItems
        this.loading = false
      })
    },
    searchEmployee($event) {
      this.loading = true
      fetchEmployee($event.target.value).then((response) => {
        const { data } = response.data
        this.employeeItems = data
        this.loading = false
      })
    },
    async addEmployee() {
      this.nip = ''
      this.nama = ''
      this.email = ''
      this.password = ''
      this.confirmPassword = ''
      this.roleId = ''
      this.jk = ''
      this.alamat = ''
      this.idbiro = ''
      this.idjabatan = ''
      this.abilities = []
      await this.fetchAnyOptions()
      this.visibleAddEmployee = true
    },
    async addEmployee2() {
      this.nip = ''
      this.nama = ''
      this.email = ''
      this.password = ''
      this.confirmPassword = ''
      this.roleId = ''
      this.jk = ''
      this.alamat = ''
      this.idbiro = ''
      this.idjabatan = ''
      this.abilities = []
      await this.fetchAnyOptions()
      this.visibleAddEmployee2 = true
    },
    async fetchAnyOptions() {
      await fetchWorkUnit().then((response) => {
        const { data } = response.data
        return (this.workUnitItems = data.map((item) => ({
          ...item,
          label: item.unitkerja,
        })))
      })
      await fetchPositionOptions().then((response) => {
        const { data } = response.data
        return (this.positionOptions = data.map((item) => ({
          ...item,
          label: item.namajabatan,
        })))
      })
      await fetchAbilities().then((response) => {
        const { data } = response.data
        return (this.abilitiesItem = data.map((item) => ({
          ...item,
          isChecked: false,
          label: item.ability_name,
        })))
      })
      await fetchMenuAbility().then((response) => {
        const { data } = response.data
        return (this.menuAbilitiesItem = data.map((item) => ({
          ...item,
          child_menu: item.child_menu.map((child) => ({
            ...child,
            abilities: this.abilitiesItem,
            isChecked: false,
          })),
        })))
      })
    },
    handleSetMenu(data) {
      if (!data.isChecked) {
        data.isChecked = true
      }
      if (data.isChecked) {
        data.isChecked = false
      }
    },
    handleSetMenuAbility(item, child, ability, $event) {
      if ($event.target.checked) {
        this.abilities.push({
          ability_menu_id: child.id,
          ability_id: ability.id,
        })
      }
      if (!$event.target.checked) {
        const findIndex = this.abilities.findIndex(
          (findItem) =>
            findItem.ability_menu_id === child.id &&
            findItem.ability_id === ability.id,
        )
        this.abilities.splice(findIndex, 1)
      }
    },
    handleSetCheckAll($event) {
      if ($event.target.checked) {
        for (let x = 0; x < this.menuAbilitiesItem.length; x++) {
          for (
            let i = 0;
            i < this.menuAbilitiesItem[x].child_menu.length;
            i++
          ) {
            this.menuAbilitiesItem[x].child_menu[i].isChecked = true
            for (
              let e = 0;
              e < this.menuAbilitiesItem[x].child_menu[i].abilities.length;
              e++
            ) {
              this.abilities.push({
                ability_menu_id: this.menuAbilitiesItem[x].child_menu[i].id,
                ability_id:
                  this.menuAbilitiesItem[x].child_menu[i].abilities[e].id,
              })
              this.menuAbilitiesItem[x].child_menu[i].abilities[
                e
              ].isChecked = true
            }
          }
        }
      } else {
        for (let x = 0; x < this.menuAbilitiesItem.length; x++) {
          for (
            let i = 0;
            i < this.menuAbilitiesItem[x].child_menu.length;
            i++
          ) {
            this.menuAbilitiesItem[x].child_menu[i].isChecked = false
            for (
              let e = 0;
              e < this.menuAbilitiesItem[x].child_menu[i].abilities.length;
              e++
            ) {
              this.abilities = []
              this.menuAbilitiesItem[x].child_menu[i].abilities[
                e
              ].isChecked = false
            }
          }
        }
      }
    },
    handleSetJk($event) {
      this.jk = $event.target.value
    },
    handleAnyOption(data) {
      const value = data.target.value
      const findPosition = this.positionOptions.find(
        (item) => item.namajabatan === value,
      )
      const findWorkUnit = this.workUnitItems.find(
        (item) => item.unitkerja === value,
      )
      if (findPosition) this.idjabatan = findPosition.id
      if (findWorkUnit) this.idbiro = findWorkUnit.id
    },
    submit() {
      this.loadingSubmit = true
      const params = {
        nip: this.nip,
        nama: this.nama,
        email: this.email,
        password: this.password,
        password_confirmation: this.confirmPassword,
        role_id: 2,
        jk: this.jk,
        alamat: this.alamat,
        idbiro: this.idbiro,
        idjabatan: this.idjabatan,
        abilities: this.abilities,
      }
      storeEmployee(params).then(() => {
        this.createToast()
        this.loadingSubmit = false
        this.visibleAddEmployee = false
        this.fetchData()
      })
    },
    submit2() {
      this.loadingSubmit = true
      const params = {
        nip: this.nip,
        nama: this.nama,
        role_id: 2,
        jk: this.jk,
        alamat: this.alamat,
        idbiro: this.idbiro,
        idjabatan: this.idjabatan,
      }
      storeEmployee(params).then(() => {
        this.createToast()
        this.loadingSubmit = false
        this.visibleAddEmployee2 = false
        this.fetchData()
      })
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil menambahkan Pegawai',
      })
    },
    createToastDelete() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil hapus Pegawai',
      })
    },
    async handleDetail(data) {
      await fetchAbilities().then((response) => {
        const { data } = response.data
        return (this.abilitiesItem = data.map((item) => ({
          ...item,
          label: item.ability_name,
        })))
      })
      await fetchMenuAbility().then((response) => {
        const { data } = response.data
        return (this.menuAbilitiesItem = data.map((item) => ({
          ...item,
          child_menu: item.child_menu.map((child) => ({
            ...child,
            abilities: this.abilitiesItem,
          })),
        })))
      })
      await fetchEmployeeDetail(data.nip).then((response) => {
        const { data } = response.data
        this.nip = data.nip
        this.nama = data.nama
        this.email = data.email
        this.visibleLiveDemo = true
        if (data.jk === 'L') {
          this.jkL = true
          this.jkP = false
        }
        if (data.jk === 'P') {
          this.jkL = false
          this.jkP = true
        }
        this.alamat = data.alamat
        this.idjabatan = data.jabatan
        this.idbiro = data.unit_kerja
        this.abilities = data.abilities.map((item) => ({
          ability_menu_id: item.menu_id,
          ability_id: item.ability_id,
        }))
        data.abilities.forEach((dataItem) => {
          this.menuAbilitiesItem = this.menuAbilitiesItem.map((item) => ({
            ...item,
            child_menu: item.child_menu.map((child) => ({
              ...child,
              isChecked: child.id === dataItem.menu_id ? true : false,
              abilities: this.abilitiesItem.map((abilityItem) => ({
                ...abilityItem,
                isChecked: false,
              })),
            })),
          }))
        })
        this.menuAbilitiesItem.forEach((item) => {
          item.child_menu.forEach((child) => {
            child.abilities.forEach((abilityItem) => {
              data.abilities.forEach((dataItem) => {
                if (
                  dataItem.ability_id === abilityItem.id &&
                  dataItem.menu_name === child.name
                ) {
                  abilityItem.isChecked = true
                }
              })
            })
          })
        })
      })
    },
    handleDelete(data) {
      this.idUser = data.id_user
      this.visibleDelete = true
    },
    submitDelete() {
      deleteEmployee(this.idUser).then(() => {
        this.createToastDelete()
        this.visibleDelete = false
        this.fetchData()
      })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
      this.loadingSubmit = false
    },
    disabledSubmit() {
      let result = true
      if (
        this.nip === '' ||
        this.nama === '' ||
        this.email === '' ||
        this.password === '' ||
        this.confirmPassword === '' ||
        this.alamat === '' ||
        this.idjabatan === '' ||
        this.idbiro === '' ||
        this.abilities.length < 1 ||
        this.jk === ''
      ) {
        result = true
        this.disableSubmit = true
      } else {
        result = false
        this.disableSubmit = false
      }
      return result
    },
    disabledSubmit2() {
      let result = true
      if (
        this.nip === '' ||
        this.nama === '' ||
        this.alamat === '' ||
        this.idjabatan === '' ||
        this.idbiro === '' ||
        this.jk === ''
      ) {
        result = true
        this.disableSubmit = true
      } else {
        result = false
        this.disableSubmit = false
      }
      return result
    },
    print() {
      const prtHtml = document.getElementById('printCode').innerHTML
      document.getElementById('wrapper-print-code').style.marginTop = '120px'
      let stylesHtml = ''
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML
      }
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0',
      )
      WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
          ${stylesHtml}
        </head>
        <body>
          ${prtHtml}
        </body>
      </html>`)

      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    },
    handleEdit(data) {
      this.visibleLiveDemo = false
      this.$router.push({ path: `/edit-pegawai/${data.nip}` })
    },
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <CButton
      color="info"
      style="
        position: fixed;
        right: 85px;
        bottom: 60px;
        z-index: 99;
        color: white;
      "
      @click="addEmployee"
    >
      Tambah Pegawai
      <CIcon :icon="icon.cilPlus" />
    </CButton>
    <CButton
      color="info"
      style="
        position: fixed;
        right: 85px;
        bottom: 125px;
        z-index: 100;
        color: white;
      "
      @click="addEmployee2"
    >
      Tambah Pemakai
      <CIcon :icon="icon.cilPlus" />
    </CButton>

    <CRow class="mb-3">
      <h3 class="text-black">Data Pegawai</h3>
    </CRow>

    <CRow class="mb-2" style="">
      <div style="p">
        <span class="text-black">Klik baris untuk lihat detail</span>
      </div>
    </CRow>
    <div style="overflow-x: auto">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Modal -->
    <CModal
      :visible="visibleLiveDemo"
      alignment="center"
      size="lg"
      @close="
        () => {
          visibleLiveDemo = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Detail Pegawai</CModalTitle>
        <div>
          <CButton
            color="warning"
            variant="ghost"
            size="sm"
            @click="handleEdit(selectedRow[0])"
            v-c-tooltip="{ content: 'Edit', placement: 'top' }"
            ><CIcon :icon="icon.cilPencil"
          /></CButton>
          <CButton
            color="danger"
            variant="ghost"
            size="sm"
            @click="handleDelete(selectedRow[0])"
            v-c-tooltip="{ content: 'Hapus', placement: 'top' }"
            ><CIcon :icon="icon.cilTrash"
          /></CButton>
        </div>
      </CModalHeader>
      <CModalBody>
        <CForm class="row g-3 p-4">
          <CCol md="6">
            <CFormLabel for="inputEmail4">NIP</CFormLabel>
            <CFormInput id="inputState" v-model="nip" disabled />
          </CCol>
          <CCol md="6">
            <CFormLabel for="inputEmail4">Nama</CFormLabel>
            <CFormInput id="inputState" v-model="nama" disabled />
          </CCol>
          <CCol md="12">
            <CFormLabel for="inputEmail4">Email</CFormLabel>
            <CFormInput id="inputState" v-model="email" disabled />
          </CCol>
          <CCol md="12">
            <CFormLabel for="inputEmail4">Alamat</CFormLabel>
            <CFormInput id="inputState" v-model="alamat" disabled />
          </CCol>
          <CCol md="6">
            <CFormLabel for="inputEmail4">Jabatan</CFormLabel>
            <CFormInput id="inputState" v-model="idjabatan" disabled />
          </CCol>
          <CCol md="6">
            <CFormLabel for="inputEmail4">Unit Kerja</CFormLabel>
            <CFormInput id="inputState" v-model="idbiro" disabled />
          </CCol>
          <CCol md="4">
            <CFormLabel for="inputEmail4">Jenis Kelamin</CFormLabel>
            <CFormCheck
              name="flexRadioDefault"
              id="flexCheckDefault"
              type="radio"
              label="Laki-laki"
              value="L"
              :checked="jkL"
              disabled
              @change="handleSetJk($event)"
            />
            <CFormCheck
              name="flexRadioDefault"
              id="flexCheckDefault"
              type="radio"
              label="Perempuan"
              value="P"
              :checked="jkP"
              disabled
              @change="handleSetJk($event)"
            />
          </CCol>
          <CCol md="12">
            <h4>
              <strong> Menu </strong>
            </h4>
            <CRow
              v-for="(item, index) in menuAbilitiesItem"
              :key="index"
              class="ms-1"
            >
              <CCol md="12" class="mb-2">
                {{ item.name }}
                <CRow
                  v-for="(child, childIndex) in item.child_menu"
                  :key="childIndex"
                  class="ms-1"
                >
                  <CCol md="12" class="mb-1">
                    <CFormCheck
                      id="flexCheckDefault"
                      :label="child.name"
                      :checked="child.isChecked"
                      disabled
                      @change="handleSetMenu(child)"
                    />
                    <CRow
                      v-for="(abilityItem, abilityIndex) in child.abilities"
                      :key="abilityIndex"
                      class="ms-1"
                    >
                      <CCol md="12">
                        <CFormCheck
                          id="flexCheckDefault"
                          :label="abilityItem.ability_name"
                          :checked="abilityItem.isChecked"
                          disabled
                          @change="
                            handleSetMenuAbility(
                              item,
                              child,
                              abilityItem,
                              $event,
                            )
                          "
                        />
                      </CCol>
                    </CRow>
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
          </CCol>
        </CForm>
      </CModalBody>
    </CModal>

    <!-- Add Employee -->
    <CModal
      :visible="visibleAddEmployee"
      alignment="center"
      size="xl"
      @close="
        () => {
          visibleAddEmployee = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Tambah Pegawai?</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol cols="12">
            <CForm class="row g-3 p-4">
              <CCol md="6">
                <CFormLabel for="inputEmail4">NIP</CFormLabel>
                <CFormInput id="inputState" v-model="nip" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputEmail4">Nama</CFormLabel>
                <CFormInput id="inputState" v-model="nama" />
              </CCol>
              <CCol md="12">
                <CFormLabel for="inputEmail4">Email</CFormLabel>
                <CFormInput id="inputState" v-model="email" />
              </CCol>
              <CCol xs="12">
                <CFormLabel for="inputEmail4">Password</CFormLabel>
                <CFormInput
                  type="password"
                  id="inputState"
                  v-model="password"
                />
              </CCol>
              <CCol xs="12">
                <CFormLabel for="inputEmail4">Konfirmasi Password</CFormLabel>
                <CFormInput
                  type="password"
                  id="inputState"
                  v-model="confirmPassword"
                />
              </CCol>
              <CCol md="12">
                <CFormLabel for="inputEmail4">Alamat</CFormLabel>
                <CFormInput id="inputState" v-model="alamat" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputEmail4">Jabatan</CFormLabel>
                <CFormSelect id="inputState" @change="handleAnyOption">
                  <option>Pilih nama jabatan</option>
                  <option v-for="(item, index) in positionOptions" :key="index">
                    {{ item.namajabatan }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputEmail4">Unit Kerja</CFormLabel>
                <CFormSelect id="inputState" @change="handleAnyOption">
                  <option>Pilih unit kerja</option>
                  <option v-for="(item, index) in workUnitItems" :key="index">
                    {{ item.unitkerja }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol md="4">
                <CFormLabel for="inputEmail4">Jenis Kelamin</CFormLabel>
                <CFormCheck
                  name="flexRadioDefault"
                  id="flexRadioDefaultM"
                  type="radio"
                  label="Laki-laki"
                  value="L"
                  @change="handleSetJk($event)"
                />
                <CFormCheck
                  name="flexRadioDefault"
                  id="flexRadioDefaultL"
                  type="radio"
                  label="Perempuan"
                  value="P"
                  @change="handleSetJk($event)"
                />
              </CCol>
              <CCol md="12">
                <h4>
                  <strong> Menu </strong>
                </h4>
                <CFormCheck
                  id="flexCheckDefault"
                  label="Pilih Semua"
                  :checked="false"
                  @change="handleSetCheckAll($event)"
                />
                <CRow class="justify-content-end">
                  <CCol md="10">
                    <CRow class="text-center">
                      <CCol class="px-1" sm="4"></CCol>
                      <CCol class="px-1" sm="2">View</CCol>
                      <CCol class="px-1" sm="2">Create</CCol>
                      <CCol class="px-1" sm="2">Update</CCol>
                      <CCol class="px-1" sm="2">Delete</CCol>
                    </CRow>
                  </CCol>
                </CRow>
                <hr
                  style="
                    height: 1px;
                    background-color: #828282;
                    color: #828282;
                    opacity: 0.5;
                    margin: 1rem;
                  "
                />
                <CRow
                  v-for="(item, index) in menuAbilitiesItem"
                  :key="index"
                  class="ms-1 border-bottom-2"
                >
                  <CCol md="2" class="mb-2">
                    {{ item.name }}
                  </CCol>
                  <CCol md="10">
                    <CRow
                      v-for="(child, childIndex) in item.child_menu"
                      :key="childIndex"
                      class="ms-1"
                    >
                      <CCol sm="4">
                        <div class="mb-1">
                          <CFormCheck
                            :id="
                              'flexCheckDefault_' +
                              child.name +
                              '_' +
                              childIndex
                            "
                            :checked="child.isChecked"
                            :label="child.name"
                            @change="handleSetMenu(child)"
                          />
                        </div>
                      </CCol>
                      <CCol
                        v-for="(abilityItem, abilityIndex) in child.abilities"
                        :key="abilityIndex"
                        class="ms-1 text-center"
                      >
                        <CFormCheck
                          :id="
                            'flexCheckDefault_' +
                            child.name +
                            '_' +
                            childIndex +
                            '_' +
                            abilitiesItem.ability_name +
                            '_' +
                            abilityIndex
                          "
                          :label="abilityItem.ability_name"
                          :checked="abilityItem.isChecked"
                          @change="
                            handleSetMenuAbility(
                              item,
                              child,
                              abilityItem,
                              $event,
                            )
                          "
                        />
                      </CCol>
                    </CRow>
                  </CCol>
                  <hr
                    style="
                      height: 1px;
                      background-color: #828282;
                      color: #828282;
                      opacity: 0.5;
                      margin: 1rem;
                    "
                  />
                </CRow>
              </CCol>
              <CCol md="12" class="mt-4">
                <CButton
                  :disabled="disabledSubmit()"
                  :color="disableSubmit ? 'dark' : 'danger'"
                  style="color: white"
                  @click="submit"
                >
                  <CSpinner v-if="loadingSubmit" color="white" size="sm" />
                  Submit
                  <CIcon :icon="icon.cilCursor" />
                </CButton>
              </CCol>
            </CForm>
          </CCol>
        </CRow>
      </CModalBody>
    </CModal>

    <!-- Add Employee2 -->
    <CModal
      :visible="visibleAddEmployee2"
      alignment="center"
      size="xl"
      @close="
        () => {
          visibleAddEmployee2 = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Tambah Pemakai?</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol cols="12">
            <CForm class="row g-3 p-4">
              <CCol md="6">
                <CFormLabel for="inputEmail4">NIP</CFormLabel>
                <CFormInput id="inputState" v-model="nip" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputEmail4">Nama</CFormLabel>
                <CFormInput id="inputState" v-model="nama" />
              </CCol>
              <CCol md="12">
                <CFormLabel for="inputEmail4">Alamat</CFormLabel>
                <CFormInput id="inputState" v-model="alamat" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputEmail4">Jabatan</CFormLabel>
                <CFormSelect id="inputState" @change="handleAnyOption">
                  <option>Pilih nama jabatan</option>
                  <option v-for="(item, index) in positionOptions" :key="index">
                    {{ item.namajabatan }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputEmail4">Unit Kerja</CFormLabel>
                <CFormSelect id="inputState" @change="handleAnyOption">
                  <option>Pilih unit kerja</option>
                  <option v-for="(item, index) in workUnitItems" :key="index">
                    {{ item.unitkerja }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol md="4">
                <CFormLabel for="inputEmail4">Jenis Kelamin</CFormLabel>
                <CFormCheck
                  name="flexRadioDefault"
                  id="flexCheckDefault"
                  type="radio"
                  label="Laki-laki"
                  value="L"
                  @change="handleSetJk($event)"
                />
                <CFormCheck
                  name="flexRadioDefault"
                  id="flexCheckDefault"
                  type="radio"
                  label="Perempuan"
                  value="P"
                  @change="handleSetJk($event)"
                />
              </CCol>
              <CCol md="12" class="mt-4">
                <CButton
                  :disabled="disabledSubmit2()"
                  :color="disableSubmit ? 'dark' : 'danger'"
                  style="color: white"
                  @click="submit2"
                >
                  <CSpinner v-if="loadingSubmit" color="white" size="sm" />
                  Submit
                  <CIcon :icon="icon.cilCursor" />
                </CButton>
              </CCol>
            </CForm>
          </CCol>
        </CRow>
      </CModalBody>
    </CModal>

    <!-- Modal Delete -->
    <CModal
      :visible="visibleDelete"
      alignment="center"
      @close="
        () => {
          visibleDelete = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Hapus Pegawai</CModalTitle>
      </CModalHeader>
      <CModalBody class="text-center">
        <span>
          <strong> Yakin ingin menghapus pegawai ini ? </strong>
        </span>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="danger"
          variant="outline"
          @click="() => (visibleDelete = false)"
        >
          Batal
        </CButton>
        <CButton color="danger" style="color: white" @click="submitDelete"
          >Hapus</CButton
        >
      </CModalFooter>
    </CModal>

    <!-- Toast -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>
