<template>
  <CHeader position="sticky" class="mb-4">
    <CContainer fluid>
      <CHeaderToggler class="ps-1" @click="$store.commit('toggleSidebar')">
        <CIcon icon="cil-menu" size="lg" />
      </CHeaderToggler>
      <CHeaderBrand class="mx-auto d-md-none d-lg-none" to="/">
        <CIcon :icon="logo" height="48" alt="Logo" />
      </CHeaderBrand>
      <CHeaderNav>
        <CNavItem>
          <CNav style="margin-right: 5px"> Selamat Datang, </CNav>
        </CNavItem>
        <CPopover placement="bottom">
          <template #toggler="{ on }">
            <CNav type="button" v-on="on">
              {{ UserData.nama }}
              <CIcon
                style="margin-left: 5px; align-self: center"
                :icon="icon.cilPowerStandby"
              />
            </CNav>
          </template>
          <template #content>
            <CButton color="danger" variant="ghost" @click="logout"
              >Logout</CButton
            >
          </template>
        </CPopover>
      </CHeaderNav>
    </CContainer>
    <CHeaderDivider />
  </CHeader>
</template>

<script>
import avatar from '@/assets/images/avatars/8.jpg'
import { logo } from '@/assets/images/material-logo-2021.png'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'

export default {
  name: 'AppHeader',
  setup() {
    return {
      logo,
      avatar: avatar,
      UserData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  components: {
    CIcon,
  },
  data() {
    return {
      icon,
    }
  },
  methods: {
    logout() {
      localStorage.clear()
      this.$router.push({ name: 'Login' })
    },
  },
}
</script>
