<!-- eslint-disable prettier/prettier -->
<script>
import {
  serviceOption,
  storeService,
  Vehicle,
} from '../../../service/service'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import { CButton, CFormTextarea, CRow, CTableHead } from '@coreui/vue'

export default {
  components: {
    CIcon,
    CButton,
    CRow,
    CTableHead,
    CFormTextarea
},
  data() {
    return {
      icon,
      toasts: [],
      toastsError: [],
      loading: false,

      listVehicle: [],
      listService: [],
      detailServis: [],
      merk: '',
      typeVehicle: '',
      typeService: '',
      serviceDate: '',
      jarakTempuh: '',
      nameBengkel: '',

      validationListService: false,
      jenis: '',
      description: '',
      listServiceSelected: [],

      disableSubmit: true,
    }
  },
  mounted() {
    this.fetchDataOptions()
  },
  methods: {
    addService() {
      this.listServiceSelected.push({
        idjenisservis: this.typeService.id,
        jenis: this.typeService.description,
        description: this.description
      })
      this.validationListService = true
    },
    fetchDataOptions() {
      Vehicle()
      .then((response) => {
        this.listVehicle = response.data.data
      })
      .catch((err) => {
          this.createToastErr(err)
        })
      serviceOption()
      .then((response) => {
        this.listService = response.data.data
      })
      .catch((err) => {
          this.createToastErr(err)
        })
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil menambahkan kendaraan',
      })
    },
    createToastError(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
    submit() {
      this.detailServis = this.listServiceSelected
      for (let x = 0; x < this.detailServis.length; x++) {
        delete this.detailServis[x].jenis;
      }
      const params = {
        idkdrn: this.typeVehicle.id,
        tgl: this.serviceDate,
        jaraktempuh: this.jarakTempuh,
        nmbengkel: this.nameBengkel,
        detail_servis: this.detailServis
        
      }
      storeService(params)
      .then((response) => {
        if (response.data.code === 200) {
          this.$router.push({ name: 'Service' })
        }
      })
      .catch((err) => {
          this.createToastErr(err)
        })
    },
    handleSelect(data) {
      const value = data.target.value
      const findVehicle = this.listVehicle.find(item => item.nopolisi === value)
      if (findVehicle) this.typeVehicle = findVehicle
      const findService = this.listService.find(item => item.description === value)
      if (findService) this.typeService = findService
    },
    disabledSubmit() {
      let result = true
      if (
        this.typeVehicle === ''
        || this.typeService === ''
        || this.serviceDate === ''
        || this.jarakTempuh === ''
        || this.nameBengkel === ''
        || this.description === ''
      ) {
        result = true
        this.disableSubmit = true
      } else {
        result = false
        this.disableSubmit = false
      }
      return result
    },
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard>
    <CRow class="m-3">
      <h3 class="text-black">Tambah Servis</h3>
    </CRow>
    <CRow class="m-3">
      <CForm class="row p-4 me-[10rem]">
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputType">Nomor Polisi</CFormLabel>
          <CFormSelect id="inputType" @change="handleSelect">
            <option>Pilih Nomor Polisi</option>
            <option v-for="item in listVehicle" :key="item">{{ item.nopolisi }}</option>
          </CFormSelect>
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputType">Kendaraan</CFormLabel>
          <CFormInput v-model="typeVehicle.merk" id="inputDate" disabled />
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputType">Type</CFormLabel>
          <CFormInput v-model="typeVehicle.type" id="inputDate" disabled />
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputDate">Tanggal Servis</CFormLabel>
          <CFormInput v-model="serviceDate" id="inputDate" type="date" />
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputJarak">Jarak Tempuh</CFormLabel>
          <CFormInput id="inputJarak" v-model="jarakTempuh" />
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputBengkel">Nama Bengkel</CFormLabel>
          <CFormInput id="inputBengkel" v-model="nameBengkel" />
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputServis">Jenis Servis</CFormLabel>
          <CFormSelect id="inputServis" @change="handleSelect">
            <option>Pilih Jenis Servis</option>
            <option v-for="item in listService" :key="item">{{ item.description }}</option>
          </CFormSelect>
        </CCol>
        <CCol md="4" class="mb-3">
          <CFormLabel for="inputDesc">Deskripsi</CFormLabel>
          <CFormTextarea placeholder="Enter description" id="inputDesc" v-model="description" />
        </CCol>
        <CCol md="4" class="align-self-center pt-3">
          <CButton color="danger" style="color: white" @click="addService">Tambah Servis</CButton>
        </CCol>

        <CTable v-if="validationListService">
          <CTableHead>
            <CTableRow>
              <CTableHeaderCell>#</CTableHeaderCell>
              <CTableHeaderCell>Jenis Servis</CTableHeaderCell>
              <CTableHeaderCell>Description</CTableHeaderCell>
            </CTableRow>
          </CTableHead>
          <CTableBody>
            <CTableRow v-for="(item, index) in listServiceSelected" :key="item">
                <CTableDataCell>{{ index + 1 }}</CTableDataCell>
                <CTableDataCell>{{ item.jenis }}</CTableDataCell>
                <CTableDataCell>{{ item.description }}</CTableDataCell>
            </CTableRow>
          </CTableBody>
        </CTable>


        <CCol md="12" class="mt-4">
          <CButton :disabled="disabledSubmit()" :color="disableSubmit ? 'dark' : 'danger'" style="color: white" @click="submit">
            <CSpinner v-if="loading" color="white" size="sm" />
            Submit
            <CIcon :icon="icon.cilCursor" />
          </CButton>
        </CCol>
      </CForm>
    </CRow>

    <!-- Toast -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast Error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>