<template>
  <CCard class="p-3">
    <CRow class="m-3">
      <h3 class="text-black">History Servis</h3>
    </CRow>

    <CTable responsive>
      <CTableHead color="dark">
        <CTableRow>
          <CTableHeaderCell>#</CTableHeaderCell>
          <CTableHeaderCell>Tanggal</CTableHeaderCell>
          <CTableHeaderCell>Jarak Tempuh</CTableHeaderCell>
          <CTableHeaderCell>Nama Bengkel</CTableHeaderCell>
          <CTableHeaderCell>Jenis Servis</CTableHeaderCell>
          <CTableHeaderCell>Deskripsi</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody v-if="listService.length > 0">
        <CTableRow v-for="(item, index) in listService" :key="item">
          <CTableDataCell>{{ index + 1 }}</CTableDataCell>
          <CTableDataCell>{{ item.tgl }}</CTableDataCell>
          <CTableDataCell>{{ item.jaraktempuh }}</CTableDataCell>
          <CTableDataCell>{{ item.nmbengkel }}</CTableDataCell>
          <CTableDataCell>
            <div v-for="service in item.detail_servis" :key="service">
              {{ service.detail_jenis.description }}
              <hr />
            </div>
          </CTableDataCell>
          <CTableDataCell>
            <div v-for="detail in item.detail_servis" :key="detail">
              {{ detail.description }}
              <hr /></div
          ></CTableDataCell>
        </CTableRow>
      </CTableBody>
      <CTableBody v-else>
        <CTableRow>
          <CTableDataCell></CTableDataCell>
          <CTableDataCell></CTableDataCell>
          <CTableDataCell></CTableDataCell>
          <CTableDataCell>Belum Ada Data Servis</CTableDataCell>
          <CTableDataCell></CTableDataCell>
          <CTableDataCell></CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>

<script>
import { CRow, CTableDataCell } from '@coreui/vue'
import { fetchDetailServis } from '@/service/service'

export default {
  components: {
    CRow,
    CTableDataCell,
  },
  data() {
    return {
      listService: [],
    }
  },
  mounted() {
    this.fetchDetail()
  },
  methods: {
    fetchDetail() {
      fetchDetailServis(this.$route.params.id_kendaraan)
        .then((response) => {
          this.listService = response.data.data
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
  },
}
</script>

<style scoped></style>
