<template>
  <CCard class="p-3">
    <router-link v-if="!loading" to="/tambah-service">
      <CButton
        color="info"
        style="
          position: fixed;
          right: 85px;
          bottom: 60px;
          z-index: 99;
          color: white;
        "
      >
        Tambah Servis
        <CIcon :icon="icon.cilPlus" />
      </CButton>
    </router-link>

    <h3>Service</h3>

    <div style="overflow-x: auto">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>

<script>
import { CButton, CRow } from '@coreui/vue'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import feather from 'feather-icons'
import {
  fetchServis,
  serviceAdd,
  serviceDelete,
  serviceOption,
} from '@/service/service'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CRow,
    CButton,
    CIcon,
    DataTable,
  },
  data() {
    return {
      icon,
      icons: 'eye',
      UserData: JSON.parse(localStorage.getItem('userData')),
      ServiceModal: false,
      modalServiceDelete: false,
      Service: '',
      dataServiceList: [],
      deleteService: '',
      modalDetailService: false,

      toasts: [],
      toastsError: [],

      itemsServis: [],
      detailServis: '',

      column: [
        {
          data: 'merk',
          title: 'Kendaraan',
        },
        {
          data: 'nopolisi',
          title: 'Nomor Polisi',
        },
        {
          data: 'type',
          title: 'Type',
        },
        {
          data: 'warna',
          title: 'Warna',
        },
        {
          title: 'Actions',
          render: (data, row) => {
            return `<button class="btn btn-info text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                      </svg>
                    </button>`
          },
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  computed: {
    iconSvg: function () {
      return feather.icons[this.icons].toSvg()
    },
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.fetchService()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.handleDetail(this.selectedRow[0])
      this.$forceUpdate()
    },
    fetchService() {
      fetchServis()
        .then((response) => {
          this.itemsServis = response.data.data.map((item) => ({
            ...item,
            Action: 'Delete',
          }))
          this.testData = this.itemsServis
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    Option() {
      serviceOption()
        .then(async (response) => {
          this.dataServiceList = await response.data.data
          this.ServiceModal = true
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    handleDetail(data) {
      this.$router.push({
        name: 'DetailService',
        params: { id_kendaraan: data.id },
      })
    },
    Add() {
      serviceAdd({ description: this.Service })
        .then(async (response) => {
          if (response.status == 200) {
            this.Option()
          } else {
            this.toastsError(response.statusText)
          }
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    DelModal(item) {
      this.modalServiceDelete = true
      this.deleteService = item
    },
    Delete(id) {
      serviceDelete(id)
        .then(async (response) => {
          if (response.data.code === 200) {
            this.modalServiceDelete = false
            this.Option()
          } else {
            this.toastsError(response.statusText)
          }
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
    },
    print() {
      const prtHtml = document.getElementById('printCode').innerHTML
      document.getElementById('wrapper-print-code').style.marginTop = '120px'
      let stylesHtml = ''
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML
      }
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0',
      )
      WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
          ${stylesHtml}
        </head>
        <body>
          ${prtHtml}
        </body>
      </html>`)

      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    },
  },
}
</script>

<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
@media print {
  body * {
    visibility: hidden;
  }
  #printCode,
  #printCode * {
    visibility: visible;
  }
  #printCode {
    position: absolute;
    top: 10%;
    left: 30%;
  }
}
</style>
