<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <h2 class="mb-4">Data Approval</h2>

    <div style="overflow-x: auto;">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Option Modal Delete -->
    <CModal
      :visible="optionModal"
      alignment="center"
      @close="
        () => {
          optionModal = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Pilih action yg ingin dilakukan</CModalTitle>
      </CModalHeader>
      <CModalBody class="text-center">
        <CButton
        style="margin-right: 1rem"
          color="danger"
          variant="outline"
          @click="updateApproval(selectedRow[0], 'Disetujui')"
        >
          Disetujui
        </CButton>
        <CButton
            color="danger"
            variant="outline"
            @click="updateApproval(selectedRow[0], 'Ditolak')"
          >
            Ditolak
        </CButton>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="danger"
          variant="outline"
          @click="() => (optionModal = false)"
        >
          Batal
        </CButton>
      </CModalFooter>
    </CModal>

    <CModal
      :visible="modalUpdateApproval"
      alignment="center"
      @close="
        () => {
          modalUpdateApproval = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Update Approval</CModalTitle>
      </CModalHeader>
      <form @submit="updateStatusApproval">
        <CModalBody>
            <span>
            <strong> Yakin ingin {{ statusUpdate === 'Disetujui' ? 'menyetujui' : 'menolak' }} pengajuan ini ? </strong>
            </span>
            <CRow v-if="statusUpdate === 'Ditolak'" class="mt-3 justify-content-center">
                <CCol md="12">
                    <CFormTextarea v-model="catatan" label="Catatan" rows="3" required type="text" />
                </CCol>
            </CRow>
        </CModalBody>
        <CModalFooter>
            <CButton
            color="danger"
            variant="outline"
            @click="
                () => {
                modalPositionDelete = false
                }
            "
            >
            Batal
            </CButton>
            <CButton color="success" style="color: white" type="submit"
            >Konfirmasi</CButton
            >
        </CModalFooter>
      </form>
    </CModal>

    <!-- Toast -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>
<!-- eslint-disable prettier/prettier -->
  <script>
import {
  fetchApproval,
  updateApprovalApprove,
  updateApprovalReject,
} from '../../../service/service'
import { CButton, CFormTextarea } from '@coreui/vue'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CButton,
    CFormTextarea,
    DataTable,
},
  data() {
    return {
      icons: 'eye',
      approvalList: [],
      eselon: '',
      selectedApproval: null,
      modalUpdateApproval: false,

      statusUpdate: '',

      toasts: [],
      toastsError: [],
      profile: JSON.parse(localStorage.getItem('abilities')),

      idpinjam: null,
      catatan: '',

      column: [
        {
          data: 'jenispinjam',
          title: 'Jenis Pinjaman',
        },
        {
          data: 'nip',
          title: 'NIP',
        },
        {
          data: 'pemakai',
          title: 'Pemakai',
        },
        {
          data: 'penanggung_jawab',
          title: 'Kuasa Pengguna Baranag',
        },
        {
          data: 'es1.name',
          title: 'Unit Eselon I',
        },
        {
          data: 'es2.name',
          title: 'Unit Eselon II',
        },
        {
          data: 'es3.name',
          title: 'Unit Eselon II',
        },
        {
          data: 'es4.name',
          title: 'Unit Eselon IV',
        },
        {
          data: 'status_pengajuan',
          title: 'Status Pengajuan',
        },
        {
          data: 'tgl_pinjam',
          title: 'Tanggal Pinjam',
        },
        {
          title: 'Actions',
          render: (data, row) => {
            return `<button class="btn btn-warning text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>`
          },
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,

      optionModal: false,
    }
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.Option()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.optionModal = true
      this.$forceUpdate()
    },
    Option() {
      const params = {
        nip: this.profile.nip,
        es: null,
      }
      fetchApproval(params)
        .then((response) => {
          this.approvalList = response.data.data
          this.testData = this.approvalList
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    updateApproval(item, status) {
      this.statusUpdate = status
      this.idpinjam = item.id_pinjam
      this.modalUpdateApproval = true
      this.selectedApproval = item
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil update status approval',
      })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
      this.loadingSubmit = false
    },
    updateStatusApproval() {
        if (this.statusUpdate === 'Disetujui') {
            updateApprovalApprove(this.idpinjam).then(() => {
                this.modalUpdateApproval = false
                this.createToast()
                this.Option()
            }).catch(err => {
                this.createToastErr(err)
            })
        } else {
          const data = { catatan: this.catatan}
            updateApprovalReject(this.idpinjam, data).then(() => {
                this.modalUpdateApproval = false
                this.catatan = ''
                this.Option()
                this.createToast()
            }).catch(err => {
                this.createToastErr(err)
            })
        }
    }
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
.dropdown-menu a:active {
  background: lightgray !important;
}
</style>
