<!-- eslint-disable prettier/prettier -->
<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
@media print {
  #printCode {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  table-layout: fixed;
}

#dataTable {
  cursor: pointer;
}

@media screen and (max-width: 578px) {
  .qrcode-mobile {
    margin: 0 !important;
  }
  .qrcode {
    width: 250px !important;
  }
}
</style>
<!-- eslint-disable prettier/prettier -->
<script>
import {
  fetchVehicle,
  fetchVehicleDetail,
  updateVehicle,
  deleteVehicle,
} from '../../../service/service'
import QrcodeVue from 'qrcode.vue'
import { CButton, CFormInput, CModal, CRow } from '@coreui/vue'
import axios from 'axios'
import feather from 'feather-icons'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    QrcodeVue,
    CRow,
    CModal,
    CFormInput,
    CButton,
    CIcon,
    DataTable,
  },
  data() {
    return {
      icon,
      icons: 'eye',
      UserData: JSON.parse(localStorage.getItem('userData')),
      visibleLiveDemo: false,
      visibleDelete: false,
      loading: true,
      loadingSubmit: false,
      search: '',

      vehicleItems: [],
      idVehicle: null,

      merkItems: [],
      typeItems: [],
      jenisItems: [],

      avatar: null,

      // Data Store
      typeVehicle: null,
      jenisVehicle: null,
      bpkbNumber: '',
      machineNumber: '',
      rangkaNumber: '',
      policeNumber: '',
      yearVehicle: '',
      dateTax: '',
      deadDateTax: '',
      mileage: '',
      merkVehicle: '',
      color: '',
      vehicleCondition: '',
      images: null,

      toasts: [],
      toastsError: [],

      // Qrcode
      value: null,
      size: 300,

      loadingDetail: false,
      vehicleItemForm: null,

      authUserData: JSON.parse(localStorage.getItem('accessToken')),
      status: '',
      column: [
        {
          data: 'jenis',
          title: 'Jenis Kendaraan',
        },
        {
          data: 'merk',
          title: 'Merk Kendaraan',
        },
        {
          data: 'type',
          title: 'Tipe Kendaraan',
        },
        {
          data: 'nopolisi',
          title: 'Nomor Polisi',
        },
        {
          data: 'jenisbbm',
          title: 'Bahan Bakar',
        },
        {
          data: 'warna',
          title: 'Warna',
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['csv', 'pdf', 'pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  computed: {
    iconSvg: function () {
      return feather.icons[this.icons].toSvg()
    },
  },
  async created() {
    if (this.$route.query.qrcode) {
      this.value = `${process.env.VUE_APP_BASE_URL_PAGE}/#/data-kendaraan?qrcode=${this.$route.query.qrcode}`
      await this.fetchDataOptions()
      await axios
        .get(
          `${process.env.VUE_APP_BASE_URL}v1/kendaraan/detail/${this.$route.query.qrcode}`,
          {
            headers: {
              Authorization: `Bearer ${this.authUserData.access_token}`,
            },
          },
        )
        .then((response) => {
          const { data } = response.data
          this.typeVehicle = this.typeItems.find(
            (item) => item.id === data.idtype,
          )
          this.jenisVehicle = this.jenisItems.find(
            (item) => item.id === data.idjenis,
          )
          this.bpkbNumber = data.nobpkb
          this.machineNumber = data.nomesin
          this.rangkaNumber = data.norangka
          this.policeNumber = data.nopolisi
          this.yearVehicle = data.thnkdrn
          this.dateTax = data.tglpajak
          this.deadDateTax = data.tglmatipajak
          this.mileage = data.jaraktempuh
          this.merkVehicle = this.merkItems.find(
            (item) => item.merk === data.merk,
          )
          this.color = data.warna
          this.vehicleCondition = data.kondisi
          this.images = data.foto
          this.status = data.status
        })
      this.visibleLiveDemo = true
    }
    this.fetchData()
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.handleDetail(this.selectedRow[0])
      this.$forceUpdate()
    },
    fetchData() {
      axios
        .get(
          `${process.env.VUE_APP_BASE_URL}v1/kendaraan?search=${this.search}&offset=0&limit=100`,
          {
            headers: {
              Authorization: `Bearer ${this.authUserData.access_token}`,
            },
          },
        )
        .then((response) => {
          this.vehicleItems = JSON.parse(
            JSON.stringify(response.data.data),
          ).map((item) => ({
            ...item,
            loading: false,
          }))
          this.testData = this.vehicleItems
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          this.createToastErr(err)
        })
    },
    searchVehicle($event) {
      fetchVehicle($event.target.value)
        .then((response) => {
          this.vehicleItems = JSON.parse(
            JSON.stringify(response.data.data),
          ).map((item) => ({
            ...item,
            loading: false,
          }))
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          this.createToastErr(err)
        })
    },
    submitUpdateVehicle() {
      this.loadingSubmit = true
      const formData = new FormData()
      formData.append('idtype', this.typeVehicle.id)
      formData.append('idjenis', this.jenisVehicle.id)
      formData.append('nobpkb', this.bpkbNumber)
      formData.append('nomesin', this.machineNumber)
      formData.append('norangka', this.rangkaNumber)
      formData.append('nopolisi', this.policeNumber)
      formData.append('thnkdrn', this.yearVehicle)
      formData.append('tglpajak', this.dateTax)
      formData.append('tglmatipajak', this.deadDateTax)
      formData.append('jaraktempuh', this.mileage)
      formData.append('idmerk', this.merkVehicle.id)
      formData.append('warna', this.color)
      formData.append('kondisi', this.vehicleCondition)
      formData.append('foto[]', this.images)
      updateVehicle(formData, this.idVehicle)
        .then(() => {
          this.loadingSubmit = false
          this.createToast()
          this.visibleLiveDemo = false
          this.fetchData()
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    handleCancelDelete() {
      this.visibleDelete = false
    },
    handleDelete(data) {
      this.visibleDelete = true
      this.idVehicle = data.id
    },
    submitDelete() {
      deleteVehicle(this.idVehicle).then(() => {
        this.createToastDelete()
        this.fetchData()
        this.visibleDelete = false
        this.visibleLiveDemo = false
      })
    },
    async handleDetail(data) {
      this.vehicleItemForm = data
      data.loading = true
      this.idVehicle = data.id
      this.value = `${process.env.VUE_APP_BASE_URL_PAGE}/data-kendaraan?qrcode=${this.idVehicle}`
      await this.fetchDataOptions()
      await fetchVehicleDetail(data.id).then((response) => {
        const { data } = response.data
        this.typeVehicle = this.typeItems.find(
          (item) => item.id === data.idtype,
        )
        this.jenisVehicle = this.jenisItems.find(
          (item) => item.id === data.idjenis,
        )
        this.bpkbNumber = data.nobpkb
        this.machineNumber = data.nomesin
        this.rangkaNumber = data.norangka
        this.policeNumber = data.nopolisi
        this.yearVehicle = data.thnkdrn
        this.dateTax = data.tglpajak
        this.deadDateTax = data.tglmatipajak
        this.mileage = data.jaraktempuh
        this.merkVehicle = this.merkItems.find(
          (item) => item.merk === data.merk,
        )
        this.color = data.warna
        this.vehicleCondition = data.status
        this.images = data.foto[0].urlfoto
        this.status = data.status
      })
      this.visibleLiveDemo = true
      this.value = `${process.env.VUE_APP_BASE_URL_PAGE}/#/data-kendaraan?qrcode=${this.idVehicle}`
      data.loading = false
    },
    async fetchDataOptions() {
      await axios
        .get(`${process.env.VUE_APP_BASE_URL}v1/options/merk`, {
          headers: {
            Authorization: `Bearer ${this.authUserData.access_token}`,
          },
        })
        .then((response) => {
          this.merkItems = JSON.parse(JSON.stringify(response.data.data)).map(
            (item) => ({
              ...item,
              label: item.merk,
            }),
          )
        })
      await axios
        .get(`${process.env.VUE_APP_BASE_URL}v1/options/type`, {
          headers: {
            Authorization: `Bearer ${this.authUserData.access_token}`,
          },
        })
        .then((response) => {
          this.typeItems = JSON.parse(JSON.stringify(response.data.data)).map(
            (item) => ({
              ...item,
              label: item.type,
            }),
          )
        })
      await axios
        .get(`${process.env.VUE_APP_BASE_URL}v1/options/jenis`, {
          headers: {
            Authorization: `Bearer ${this.authUserData.access_token}`,
          },
        })
        .then((response) => {
          this.jenisItems = JSON.parse(JSON.stringify(response.data.data)).map(
            (item) => ({
              ...item,
              label: item.jenis,
            }),
          )
        })
    },
    // eslint-disable-next-line no-unused-vars
    onDecode(decodedString) {
      // ...
    },
    handleAnySelect(data) {
      const value = data.target.value
      const findType = this.typeItems.find((item) => item.label === value)
      const findJenis = this.jenisItems.find((item) => item.label === value)
      const findMerk = this.merkItems.find((item) => item.label === value)
      if (findType) this.typeVehicle = findType
      if (findJenis) this.jenisVehicle = findJenis
      if (findMerk) this.merkVehicle = findMerk
    },
    handleDateTax(data) {
      this.dateTax = data.target.value
    },
    handleDeadDateTax(data) {
      this.deadDateTax = data.target.value
    },
    handleImage(data) {
      this.images = data.target.files[0]
      this.avatar = URL.createObjectURL(this.images[0])
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil update kendaraan',
      })
    },
    createToastDelete() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil hapus kendaraan',
      })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
      this.loadingSubmit = false
    },
    print() {
      const prtHtml = document.getElementById('printCode').innerHTML
      document.getElementById('wrapper-print-code').style.marginTop = '120px'
      let stylesHtml = ''
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML
      }
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0',
      )
      WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
          ${stylesHtml}
        </head>
        <body>
          ${prtHtml}
        </body>
      </html>`)

      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    },
    handleEdit(data) {
      this.visibleLiveDemo = false
      this.$router.push({ name: 'EditKendaraan', params: { id: data.id } })
    },
    handleToForm() {
      const data = this.vehicleItemForm
      // this.$router.push({ name: 'BuatPinjamanPPKO', query: { id_vehicle: data.id } })
      window.location.assign(
        `/#/pinjam-pakai/buat-pinjaman-ppko?id_vehicle=${data.id}`,
      )
      window.location.reload()
      setTimeout(() => {}, 1000)
    },
    testSelect() {
    },
  },
}
</script>
<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <router-link v-if="!loading" to="/tambah-kendaraan">
      <CButton
        color="info"
        style="
          position: fixed;
          right: 85px;
          bottom: 60px;
          z-index: 99;
          color: white;
        "
      >
        Tambah Kendaraan
        <CIcon :icon="icon.cilPlus" />
      </CButton>
    </router-link>

    <CRow class="mb-3">
      <h3 class="text-black">Data Kendaraan</h3>
    </CRow>

    <CRow class="mb-2" style="">
      <div style="">
        <span class="text-black">Klik baris untuk lihat detail</span>
      </div>
    </CRow>
    <div style="overflow-x: auto;">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Modal -->
    <CModal
      :visible="visibleLiveDemo"
      alignment="center"
      size="xl"
      backdrop="static"
    >
      <CModalHeader>
        <CModalTitle class="d-flex">
          Detail Kendaraan
          <CRow class="ms-2">
            <div>
              <CButton
                color="warning"
                variant="ghost"
                size="sm"
                @click="handleEdit(selectedRow[0])"
                v-c-tooltip="{ content: 'Edit', placement: 'top' }"
                ><CIcon :icon="icon.cilPencil"
              /></CButton>
              <CButton
                color="danger"
                variant="ghost"
                size="sm"
                @click="handleDelete(selectedRow[0])"
                v-c-tooltip="{ content: 'Hapus', placement: 'top' }"
                ><CIcon :icon="icon.cilTrash"
              /></CButton>
            </div>
          </CRow>
        </CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol cols="6">
            <CForm class="row g-3 p-4">
              <CCol md="6">
                <CFormLabel for="inputEmail4">Tipe Kendaraan</CFormLabel>
                <CFormSelect id="inputState" disabled @change="handleAnySelect">
                  <option
                    v-for="(item, index) in typeItems"
                    :key="index"
                    :selected="item.type === typeVehicle.type"
                  >
                    {{ item.type }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputPassword4">Jenis Kendaraan</CFormLabel>
                <CFormSelect id="inputState" disabled @change="handleAnySelect">
                  <option
                    v-for="(item, index) in jenisItems"
                    :key="index"
                    :selected="item.jenis === jenisVehicle.jenis"
                  >
                    {{ item.jenis }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol md="12">
                <CFormLabel for="inputZip">Merk</CFormLabel>
                <CFormSelect id="inputState" disabled @change="handleAnySelect">
                  <option
                    v-for="(item, index) in merkItems"
                    :key="index"
                    :selected="item.merk === merkVehicle.merk"
                  >
                    {{ item.merk }}
                  </option>
                </CFormSelect>
              </CCol>
              <CCol xs="12">
                <CFormLabel for="inputAddress">Nomor BPKB</CFormLabel>
                <CFormInput id="inputAddress" disabled v-model="bpkbNumber" />
              </CCol>
              <CCol xs="12">
                <CFormLabel for="inputAddress2">Nomor Mesin</CFormLabel>
                <CFormInput
                  id="inputAddress2"
                  disabled
                  v-model="machineNumber"
                />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputCity">Nomor Rangka</CFormLabel>
                <CFormInput id="inputCity" disabled v-model="rangkaNumber" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputState">Nomor Polisi</CFormLabel>
                <CFormInput id="inputState" disabled v-model="policeNumber" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputZip">Tahun Kendaraan</CFormLabel>
                <CFormInput
                  id="inputZip"
                  disabled
                  type="number"
                  v-model="yearVehicle"
                />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputZip">Tanggal Pajak</CFormLabel>
                <CFormInput
                  id="inputZip"
                  disabled
                  type="date"
                  v-model="dateTax"
                  @input="handleDateTax"
                />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputZip">Tanggal Mati Pajak</CFormLabel>
                <CFormInput
                  id="inputZip"
                  disabled
                  type="date"
                  v-model="deadDateTax"
                  @input="handleDeadDateTax"
                />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputZip">Jarak Tempuh</CFormLabel>
                <CFormInput id="inputZip" disabled v-model="mileage" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputZip">Warna</CFormLabel>
                <CFormInput id="inputZip" disabled v-model="color" />
              </CCol>
              <CCol md="6">
                <CFormLabel for="inputZip">Kondisi Kendaraan</CFormLabel>
                <CFormInput id="inputZip" disabled v-model="vehicleCondition" />
              </CCol>
            </CForm>
          </CCol>
          <CCol cols="6">
            <CRow
              id="printCode"
              class="
                mt-3
                justify-content-center
                d-flex
                flex-column
                align-items-center
              "
            >
              <div
                id="wrapper-print-code"
                class="text-center mb-5"
                style="text-align: center"
              >
                <img
                  src="../../../assets/images/material-logo-2021.png"
                  style="width: 100px"
                />
              </div>
              <div
                class="text-center qrcode-mobile"
                style="
                  border: 8px solid #39f;
                  border-radius: 16px;
                  width: auto;
                  margin: 0px 180px;
                  padding: 15px;
                "
              >
                <qrcode-vue
                  render-as="svg"
                  :value="value"
                  :size="size"
                  level="H"
                  class="qrcode"
                />
              </div>
              <div class="text-center mt-2" style="text-align: center">
                <h2 class="text-black">{{ policeNumber }}</h2>
              </div>
            </CRow>
            <CRow class="mt-3 mx-5">
              <CButton color="info" style="color: white" @click="print"
                >Print</CButton
              >
            </CRow>
            <CRow class="mt-3 mx-5" v-if="status === 'Tersedia'">
              <CButton
                color="success"
                style="color: white"
                @click="handleToForm"
                >Pinjam Sekarang</CButton
              >
            </CRow>
          </CCol>
          <CCol md="12">
            <CFormLabel for="inputZip">Gambar Kendaraan</CFormLabel>
            <!-- <CFormInput type="file" id="inputZip" @input="handleImage" /> -->
            <img :src="images" class="mt-2" style="width: 100%" />
          </CCol>
        </CRow>
      </CModalBody>
    </CModal>

    <!-- Modal Delete -->
    <CModal :visible="visibleDelete" alignment="center">
      <CModalHeader>
        <CModalTitle>Hapus Kendaraan</CModalTitle>
      </CModalHeader>
      <CModalBody class="text-center">
        <span>
          <strong> Yakin ingin menghapus kendaraan ini ? </strong>
        </span>
      </CModalBody>
      <CModalFooter>
        <CButton color="danger" variant="outline" @click="handleCancelDelete">
          Batal
        </CButton>
        <CButton color="danger" style="color: white" @click="submitDelete"
          >Hapus</CButton
        >
      </CModalFooter>
    </CModal>

    <!-- Toast -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>