<!-- eslint-disable prettier/prettier -->
<template>
  <CCard class="p-3">
    <h2>Data Unit Eselon</h2>
    <CButton
      color="info"
      style="position: fixed;right: 85px;
        bottom: 60px;
        z-index: 99;
        color: white;"
      @click="() => {
        modalAddEselon = true
      }"
    >
      Tambah Unit Eselon
      <CIcon :icon="icon.cilPlus" />
    </CButton>

    <div style="overflow-x: auto">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Modal Eselon Delete -->
    <CModal
      :visible="modalPositionDelete"
      alignment="center"
      @close="
        () => {
          modalPositionDelete = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Hapus Unit Eselon</CModalTitle>
      </CModalHeader>
      <CModalBody class="text-center">
        <span>
          <strong> Yakin ingin menghapus Unit Eselon ini ? </strong>
        </span>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="danger"
          variant="outline"
          @click="
            () => {
              modalPositionDelete = false
            }
          "
        >
          Batal
        </CButton>
        <CButton color="danger" style="color: white" @click="Delete"
          >Hapus</CButton
        >
      </CModalFooter>
    </CModal>
    <!-- Modal Eselon Add -->
    <CModal
      :visible="modalAddEselon"
      alignment="center"
      @close="
        () => {
          modalAddEselon = false
        }
      "
    >
      <form @submit="Add()">
        <CModalHeader>
          <CModalTitle>Add Unit Eselon</CModalTitle>
        </CModalHeader>
        <CModalBody>
          <CCol md="12" class="mb-2">
            <span>Pilih Unit Eselon</span>:
          </CCol>
          <CCol md="12" class="mb-2">
            <CButton
              v-for="(item, index) in typeList"
              :key="index"
              color="info"
              variant="ghost"
              @click="setTypeEselon(item)"
              class="me-1"
            >
              {{ item.type }}
            </CButton>
          </CCol>
          <CCol md="12" class="d-flex align-items-center mb-2">
            <CFormInput
              v-model="typeEselonItem.type"
              type="text"
              disabled
              required
              style="background: white"
            />
          </CCol>
          <CCol md="12">
            <CFormInput
              type="text"
              required
              placeholder="Masukan nama untuk unit eselon"
              @input="($event) => (eselon = $event.target.value)"
            />
          </CCol>
        </CModalBody>
        <CModalFooter>
          <CButton
            color="danger"
            variant="outline"
            @click="
              () => {
                modalAddEselon = false
              }
            "
          >
            Batal
          </CButton>
          <CButton type="submit" color="success" style="color: white"
            >Tambah</CButton
          >
        </CModalFooter>
      </form>
    </CModal>

    <!-- Toast -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>
<!-- eslint-disable prettier/prettier -->
<script>
import { fetchEselon, deleteEselon, addEselon } from '../../../service/service'
import { CButton, CFormInput } from '@coreui/vue'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CFormInput,
    CButton,
    CIcon,
    DataTable,
  },
  data() {
    return {
      icon,
      icons: 'eye',
      eselonList: [],
      eselon: '',
      deleteEselonId: '',
      modalPositionDelete: false,

      toasts: [],
      toastsError: [],
      profile: JSON.parse(localStorage.getItem('abilities')),
      typeList: [
        {
          type: 'Unit Eselon I',
          value: 'es1',
        },
        {
          type: 'Unit Eselon II',
          value: 'es2',
        },
        {
          type: 'Unit Eselon III',
          value: 'es3',
        },
        {
          type: 'Unit Eselon IV',
          value: 'es4',
        },
      ],
      typeEselonItem: '',
      modalAddEselon: false,

      column: [
        {
          data: 'tipe',
          title: 'Unit Eselon',
        },
        {
          data: 'nama',
          title: 'Nama',
        },
        {
          title: 'Actions',
          render: (data, row) => {
            return `<button @click="DelModal(${row.id})" class="btn btn-danger text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>`
          },
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.Option()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.DelModal(this.selectedRow[0])
      this.$forceUpdate()
    },
    Option() {
      const params = {
        nip: this.profile.nip,
        es: null,
      }
      fetchEselon(params)
        .then(async (response) => {
          this.eselonList = await response.data.data.map((item) => ({
            ...item,
            Action: 'Delete',
          }))
          this.testData = this.eselonList
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    Add() {
      const params = {
        nip: this.profile.nip,
        nama: this.eselon,
        tipe: this.typeEselonItem.value,
      }
      addEselon(params)
        .then(() => {
          this.createToast()
          this.modalAddEselon = false
          this.typeEselonItem = ''
          this.Option()
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    DelModal(item) {
      this.modalPositionDelete = true
      this.deleteEselonId = item.id
    },
    Delete() {
      deleteEselon(this.deleteEselonId)
        .then(async () => {
          this.Option()
          this.modalPositionDelete = false
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil menambahkan Unit Eselon',
      })
    },
    createToastDelete() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil hapus Unit Eselon',
      })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
      this.loadingSubmit = false
    },
    setTypeEselon(data) {
      this.typeEselonItem = data
    },
    print() {
      const prtHtml = document.getElementById('printCode').innerHTML
      document.getElementById('wrapper-print-code').style.marginTop = '120px'
      let stylesHtml = ''
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML
      }
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0',
      )
      WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
          ${stylesHtml}
        </head>
        <body>
          ${prtHtml}
        </body>
      </html>`)

      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    },
  },
}
</script>
<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
</style>
