<template>
  <CCard class="p-3">
    <h2>Tambah Merk Kendaraan</h2>
    <CInputGroup class="mb-3">
      <CFormInput
        v-model="merkKendaraan"
        type="text"
        placeholder="Masukan Merk Kendaraan"
      />
      <CButton type="button" color="primary" @click="Add()">
        <CIcon :icon="icon.cilPlus" />
      </CButton>
    </CInputGroup>

    <div style="overflow-x: auto">
      <DataTable
        id="dataTable"
        ref="dataTables"
        :columns="column"
        :options="options"
        :data="testData"
        class="display table-responsive responsive nowrap"
      />
    </div>

    <!-- Modal Merk Delete -->
    <CModal
      :visible="modalMerkDelete"
      alignment="center"
      @close="
        () => {
          modalMerkDelete = false
        }
      "
    >
      <CModalHeader>
        <CModalTitle>Hapus Merk</CModalTitle>
      </CModalHeader>
      <CModalBody class="text-center">
        <span>
          <strong> Yakin ingin menghapus merk ini ? </strong>
        </span>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="danger"
          variant="outline"
          @click="
            () => {
              modalMerkDelete = false
            }
          "
        >
          Batal
        </CButton>
        <CButton
          color="danger"
          style="color: white"
          @click="Delete(deleteMerk.id)"
          >Hapus</CButton
        >
      </CModalFooter>
    </CModal>

    <!-- Toast -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toasts"
        :key="index + 1"
        color="success"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>

    <!-- Toast error -->
    <CToaster placement="top-end">
      <CToast
        v-for="(toast, index) in toastsError"
        :key="index + 1"
        color="danger"
        class="text-white"
      >
        <CToastHeader closeButton>
          <span class="me-auto fw-bold">{{ toast.title }}</span>
        </CToastHeader>
        <CToastBody>
          {{ toast.content }}
        </CToastBody>
      </CToast>
    </CToaster>
  </CCard>
</template>

<script>
import { merkOptions, merkAdd, merkDelete } from '../../../service/service'
import { CButton, CFormInput } from '@coreui/vue'
import { CIcon } from '@coreui/icons-vue'
import * as icon from '@coreui/icons'
import 'pdfmake/build/pdfmake'
import 'pdfmake/build/vfs_fonts'
import DataTable from 'datatables.net-vue3'
import DataTablesLib from 'datatables.net'
import 'datatables.net-dt/css/jquery.dataTables.css'
import 'datatables.net-select'
import 'datatables.net-buttons'
import 'datatables.net-buttons/js/buttons.html5.js'
import 'datatables.net-buttons/js/buttons.html5.min.js'
import 'datatables.net-buttons/js/buttons.html5.min.mjs'
import 'datatables.net-buttons/js/buttons.html5.mjs'
import pdfMake from 'pdfmake/build/pdfmake'
import pdfFonts from 'pdfmake/build/vfs_fonts'
pdfMake.vfs = pdfFonts.pdfMake.vfs

DataTable.use(DataTablesLib)

export default {
  components: {
    CFormInput,
    CButton,
    CIcon,
    DataTable,
  },
  data() {
    return {
      icon,
      icons: 'eye',
      dataMerk: [],
      merkKendaraan: '',
      deleteMerk: '',
      modalMerkDelete: false,

      toasts: [],
      toastsError: [],

      column: [
        {
          data: 'merk',
          title: 'Merk',
        },
        {
          title: 'Actions',
          render: (data, row) => {
            return `<button @click="DelModal(${row.id})" class="btn btn-danger text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>`
          },
        },
      ],
      testData: [],
      options: {
        dom: 'Bfrtip',
        lengthMenu: [
          [10, 25, 50],
          ['10 Rows', '25 Rows', '50 Rows'],
        ],
        buttons: ['pageLength'],
        select: true,
        responsive: true,
      },
      selectedRow: null,
      modalSelectedRow: false,
    }
  },
  mounted() {
    const self = this
    const table = this.$refs.dataTables
    table.dt().on('select', function (e, dt, type, indexes) {
      if (type === 'row') {
        self.selectedRow = dt.rows(indexes).data()
        self.handleClickTable(dt.rows(indexes).data())
      }
    })
    this.Option()
  },
  methods: {
    handleClickTable(data) {
      this.selectedRow = data
      this.DelModal(this.selectedRow[0])
      this.$forceUpdate()
    },
    Option() {
      this.merkKendaraan = ''
      merkOptions()
        .then(async (response) => {
          this.dataMerk = await response.data.data.map((item) => ({
            ...item,
            Action: 'Delete',
          }))
          this.testData = this.dataMerk
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    Add() {
      merkAdd({ merk: this.merkKendaraan })
        .then(async (response) => {
          if (response.status === 200) {
            this.dataMerk.push({
              id: this.dataMerk.length + 2,
              merk: this.merkKendaraan,
            })
            this.Option()
          } else {
            this.toastsError(response.statusText)
          }
        })
        .catch((err) => {
          this.createToastErr(err)
        })
    },
    DelModal(item) {
      this.modalMerkDelete = true
      this.deleteMerk = item
    },
    Delete(id) {
      merkDelete(id)
        .then(async (response) => {
          if (response.status == 200) {
            for (let i = 0; i < this.dataMerk.length; i++) {
              if (this.dataMerk[i].id === id) {
                this.dataMerk.splice(i, 1)
                return
              }
            }
            this.modalMerkDelete = false
          } else {
            this.toastsError(response.statusText)
            this.modalMerkDelete = false
          }
        })
        .catch((err) => {
          this.createToastErr(err)
          this.modalMerkDelete = false
        })
    },
    createToast() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil update kendaraan',
      })
    },
    createToastDelete() {
      this.toasts.push({
        title: 'Sukses',
        content: 'Kamu berhasil hapus kendaraan',
      })
    },
    createToastErr(err) {
      this.toastsError.push({
        title: 'Failure',
        content: err.response.data.message,
      })
      this.loadingSubmit = false
    },
    print() {
      const prtHtml = document.getElementById('printCode').innerHTML
      document.getElementById('wrapper-print-code').style.marginTop = '120px'
      let stylesHtml = ''
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML
      }
      const WinPrint = window.open(
        '',
        '',
        'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0',
      )
      WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
          ${stylesHtml}
        </head>
        <body>
          ${prtHtml}
        </body>
      </html>`)

      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    },
  },
}
</script>
<style scoped>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
@import 'datatables.net-select-dt';
</style>
